[2016-04-04 20:34] ngelx opened #2 "Data-binding"
Hi, I've got a test app with a model Trip that got some attr:

[code]

I would like to use this addon to handle the startDate and endDate attr on trip forms, so i did something like this:

[code]

It works as expected except for 2 things.

1. the input is not bind to the field. That mean that when I change the date using the calendar, the model field is not updated, even i've set it on the `value`

[2016-04-05 14:45] rwwagner90 commented on #2
@ngelx we will definitely need to support that. However, there is an `onChange` parameter where you can pass a function in. You could make this function an action to send the value back out with an action. I'll work on making this more dynamic and bound though.

[2016-04-06 02:11] rwwagner90 commented on #2
@ngelx value is now set when `onChange` is fired, so if you do `value=(mut trip.startDate)` using the `mut` helper should allow the value to be passed back out.

Alternatively, `onChange` now also fires `onChangeAction` so you could pass an action in that would set value whenever a new date is chosen.

Please let me know your thoughts on these options.

[2016-04-12 02:52] rwwagner90 commented on #2
@ngelx does this work for you now?

[2016-04-12 20:06] ngelx commented on #2
Hey @rwwagner90 sorry for the delay. Yes the data binding is working for `value`, and i think for updating `minDate`/`maxDate` we could use the onChange. I'm only missing how can I reference one flatpickr from the other, so, let say,  when statDate changes, it automatically update the minDate from the other flatpickr.

Something similar as it is documented on the flatpickr page.

https://chmln.git

[2016-04-12 21:48] rwwagner90 commented on #2
No problem @ngelx. Are you trying to use two flatpickrs to select a start date and end date to use for a range? I think there is some more work to do to support that. Just trying to understand exactly the use case, so I can make sure to handle it.

[2016-04-13 20:35] ngelx commented on #2
Exactly. I've got a pretty common scenario where my model is a `Trip`, and i need to set the `startDate` and the `endDate`. As usual, it should be a range and met the invariant: `startDate <= endDate`

So far i've done something like:

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ember-flatpickr
                  altInput=t

[2016-04-13 20:45] rwwagner90 commented on #2
@ngelx I don't think the `onChange` function is a good place for that. We should build some sort of updates into the addon.

Wouldn't you want only the start or end date to update, but not both? With your current code, if I choose a start of 04/22 and end of 04/23, but then I decide I actually want 05/22 and 05/23, and I open the first flatpickr, I find myself unable to move the startDate anywhere

[2016-04-13 20:56] ngelx commented on #2
@rwwagner90 yep, i've mentioned the `onChange` option because the flatpickr.js lib document it that way, but if it is possible to integrated inside the addon, much better!

Regarding to:

The user will need to changes first the `endDate` (to 5/23), and then the `startDate` (to 5/22). Not the best UX. Maybe it would be possible to update both when needed?

[2016-04-13 21:27] rwwagner90 commented on #2
@ngelx Ah, I see the example you are talking about. I will implement something to handle this case tonight or tomorrow.

[2016-04-17 19:32] rwwagner90 commented on #2
@ngelx I implemented observers that will update the flatpickr instance when you change maxDate or minDate. I published version `0.1.0` of this addon, which should hopefully help you accomplish what you are looking for. Install it and give it a try please!

[2016-04-24 14:18] rwwagner90 commented on #2
@ngelx does everything work for you now?

[2016-05-09 21:14] rwwagner90 commented on #2
Closing this, as I have not heard from you @ngelx

[2016-05-09 21:14] #2 closed

[2016-05-20 23:22] xtagon opened #3 "Time picker only?"
Hi,

Flatpickr has an option `noCalendar=true` to specify a time-only input. This would really be useful for me, is there any way to do that with ember-flatpickr?

Thanks,
Justin

[2016-05-21 03:06] xtagon commented on #3
Closing, I added a pull request.

[2016-05-21 03:06] #3 closed

[2016-07-04 10:09] Swizz opened #5 "Helper could not be found"
Hi,
I am encountering something really weird.
After installing this addon (as I have always done), I met in the console and input was not show :

```Uncaught Error: Assertion Failed: A helper named 'ember-flatpickr' could not be found```

I tried to relaunch server, reinstall, and generate addon, but nothing works.

This is the first time I meet this. How to solve it ?

Regards,

[2016-07-04 12:58] Swizz commented on #5
I think, this is due to the pod structure of the component (?).
I am using ember-cli 2.5.

So I solved this issue with a little trick.

[code]

[2016-07-04 12:58] #5 closed

[2016-07-04 21:37] rwwagner90 commented on #5
@Swizz could you confirm the version you have installed? I recently switched from using ember-browserify to just using flatpickr as a bower dependency, so doing a fresh `ember install ember-flatpickr` should run the blueprint and pull in flatpickr from bower. Not sure if that is contributing to this issue or not.

[2016-07-05 07:57] Swizz commented on #5
@rwwagner90  Sure, I am dealing with

[code]

But ... the bower dependencie seem to be pulled, because, the proxy component works well.
The weird thing is around the component/helper registering.

It is really uncommon, I installed a new addon, and It works well at the first time.

[2016-07-05 14:57] rwwagner90 commented on #5
@Swizz seems like all the versions should be fine then. If you start from scratch and install, everything works though, right?

[2016-07-15 03:42] zipme opened #6 "Date format is not working"
Hi,

It seems the dateFormat does not work?

So I pass in `dateFormat="m/d/Y"` but after I select a date the field still displays `Thu Jul 14 2016 00:00:00 GMT+0800 (CST)`

The demo page seems also broke too?

[2016-07-15 04:05] zipme commented on #6
I think I found the reason why this happen:

https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/components/ember-flatpickr/component.js#L38

I think this line of code set the `value` of the component which overwrites the formatted value

[2016-07-15 13:13] rwwagner90 commented on #6
Hi @zipme this could definitely be true. Do you have a proposed solution?

[2016-07-15 13:14] rwwagner90 commented on #6
Seems to me that the dateObject from flatpickr should respect the formatting you pass in, as this would be an issue for anyone using flatpickr, and not just using ember-flatpickr.

[2016-07-16 09:13] zipme commented on #6
@rwwagner90 that's true. But for now I think we can remove `this.set('value', dateObject);`
and simply use the `onChangeAction` to get the selected date like this:
[code]

[2016-07-16 14:07] rwwagner90 commented on #6
@zipme that will still pass the same dateObject to the onChangeAction though, so it should have the same issue right?

[2016-07-18 02:17] zipme commented on #6
@rwwagner90 sorry, I forgot to remove the val= in the code I pasted, so after `this.set('value', dateObject);` is removed. I use the component like this:
[code]
Which works perfectly, and you are right that `dateObject` will be passed to `onChangeAction` but that's what I want since my `selectedDate` is a date type, and the date displayed in the ember-flatpickr will be what the format specified si

[2016-07-18 11:45] rwwagner90 commented on #6
@zipme I noticed that onChange has `dateObject` and `dateString`. I wonder if the string one is formatted correctly? I'd really like to keep the automatic setting of the value, if we can, that way people who do not want/need to define an `onChangeAction` just have it automatically updating as expected.

[2016-07-18 17:24] zipme commented on #6
@rwwagner90 I think the dateString is correctly formatted, but even so, I still think the `value` should be of date type instead of string, since it's a `date picker` it makes more sense to have its value as an date object instead of string, perhaps we can add another property called `dateString` or something?

[2016-07-18 17:42] rwwagner90 commented on #6
@zipme I'm definitely open to a PR that supports both cases 😄

[2016-07-25 13:32] rwwagner90 commented on #6
@zipme did you have a solution in mind that supports both cases? If not, I can try to knock this out this week sometime, but I would love a PR if you have the time and a solution in mind.

[2016-07-25 13:51] zipme commented on #6
hi @rwwagner90 , sorry for the late reply, I was too busy lately. I am currently using a dirty hack to workaround this issue, would definitely send a PR somewhere next week, but if this is too late, maybe you can also try it out, what I have in mind is a similar API to ember-power-select component.

[2016-07-25 14:07] rwwagner90 commented on #6
@zipme I'm quite busy as well, so I can definitely wait until you submit a PR, if you will be able to by next week.

[2016-08-01 15:44] rwwagner90 commented on #6
@zipme still think you can submit a PR this week?

[2016-08-03 12:23] rwwagner90 commented on #6
@zipme when do you think you might have some availability? If it won't be for awhile, I can try to take a look.

[2016-08-04 08:20] zipme commented on #6
@rwwagner90 Sorry for the late reply, I had a long flight ;), Yeah I might give it a try this week ;)

[2016-08-04 14:12] zipme commented on #6
hi @rwwagner90 , I think we'd better not set the `value` when the user selects the date. The reason is that shifting to one way bindings makes things easier to reason about (data down, actions up). Have a look at this add-on https://github.com/DockYard/ember-one-way-controls you will see what I mean ;) So it seems to me the fix to this issue would be just the deletion of one line of code.

[2016-08-04 14:29] rwwagner90 commented on #6
@zipme why would you want a datepicker where you didn't know the updated value, when a user selected something? We can't just delete it. We could require that the user pass an `onChange` function, but it would be nice for users to not need to do anything.

[2016-08-04 14:52] zipme commented on #6
@rwwagner90 by using the `onChange` I can still get the updated value, and this pattern (one-way binding, data-down, actions-up) like I said is easier to reason about and easier to debug.

[2016-08-04 15:24] rwwagner90 commented on #6
@zipme I started on a PR to address this. Please take a look and let me know your thoughts https://github.com/shipshapecode/ember-flatpickr/pull/12

[2016-08-05 05:59] zipme commented on #6
@rwwagner90 This is exactly what i meant 👍 , thanks!

[2016-08-05 12:15] rwwagner90 commented on #6
No problem @zipme! I am still seeing something weird though. If you just pass null as the `onChange` it seems like the value is still changing behind the scenes. The flatpickr appears correct, but if you are displaying out the value, like we do on the demo page, it seems to be one step behind the value changes from flatpickr.

[2016-08-05 12:28] rwwagner90 commented on #6
@zipme I think it was just a side effect of Ember being two way data binding by default. Passing as `value=(readonly dateValue)` seems to solve the problem

[2016-08-05 12:35] rwwagner90 commented on #6
Just merged my PR in, and released 0.4.0 of this addon. Please try it out and let me know if it works for you @zipme!

[2016-08-06 14:35] zipme commented on #6
@rwwagner90 nice! I will give it a try. 🤘

[2016-08-08 19:23] rwwagner90 commented on #6
@zipme I also updated flatpickr to 1.9.1 and added several options we were missing. 0.6.0 is now the latest version. Please give it a try. I am going to close this issue and if you have any more issues please feel free to open another.

[2016-08-08 19:23] #6 closed

[2016-08-09 01:58] zipme commented on #6
@rwwagner90 great! Thanks a lot!

[2016-08-10 04:51] NullVoxPopuli commented on #5
I have this issue as well. But, I am using pods.

[2016-08-10 11:55] rwwagner90 commented on #5
@NullVoxPopuli can you please do the following?

1. Remove ember-flatpickr from your package.json
1. Remove flatpickr from your bower.json
1. `rm -rf node_modules bower_components`
1. `npm i`
1. `bower i`
1. `ember install ember-flatpickr`

Let me know if clearing everything out works or not, and then please confirm the versions of ember-flatpickr and flatpickr you have.

[2016-08-10 11:57] NullVoxPopuli commented on #5
I'll give that a go tonight.
I wasn't blocked or anything, thanks to @Swizz's technique of convincing the resolver ember-flatpickr really does exist.

[2016-08-10 11:58] rwwagner90 commented on #5
@NullVoxPopuli if it still doesn't find it, it is probably a bug with pods themselves, as I'm just using the standard addon exports, which should register it to the app namespace.

[2016-08-10 11:59] rwwagner90 commented on #5
@NullVoxPopuli I wonder if there is an issue with me using pods in the addon and you then using the component inside another pod? Perhaps I should put the addon back to normal structure, not pods?

[2016-08-10 11:59] NullVoxPopuli commented on #5
Yeah.

My bet would be on that if the error persists, it has to do with my app still being in transition, and having traditional structure and pods structure (under `app/pods/`)

[2016-08-10 12:00] NullVoxPopuli commented on #5
I'd keep your component as pods and then maybe provide the 'hack' that I have? https://github.com/NullVoxPopuli/aeonvera-ui/blob/master/app/components/ember-flatpickr.js

[2016-08-10 12:01] NullVoxPopuli commented on #5
cause, my hunch is this is a pods issue

[2016-08-10 12:01] NullVoxPopuli commented on #5
(get hyped for ember's module unification!!)

[2016-08-10 12:03] rwwagner90 commented on #5
@NullVoxPopuli yeah, it feels like a pods issue, but I don't know if it would be an issue, if I didn't use pods here too. Would you like to submit a PR to update the README with something like "if you get the error (whatever the error is), use this hack"? Would be an easy contribution 😃

So ready for module rfc to be implemented!

[2016-08-11 17:58] rwwagner90 commented on #5
@Swizz @NullVoxPopuli I switched this addon to use traditional structure, instead of pods, and it appears to fix the issue. Please grab 0.7.0 and delete your workaround files 😄

[2016-08-16 01:41] chaserkid opened #17 "Minimum component declaration does not work"
I can't get the basic declaration to work ( {{ember-flatpickr}} ) in ember version 2.7.0 .

[code]

[2016-08-16 02:02] rwwagner90 commented on #17
@chaserkid can you elaborate on what doesn't work please? Are there errors in the console?

[2016-08-16 11:59] rwwagner90 commented on #17
@chaserkid are you literally trying to render `{{ember-flatpickr}}` without passing any options? If so, that will not work.

[2016-08-16 13:21] chaserkid commented on #17
I understand that I'm missing arguments. But the documentation doesn't provide any guidance as to the minimum. Rather, it reads: "*(All options are displayed, but they have defaults and you only need to pass what you need)". Contrast with ember pikaday, which not only has examples with options but also works as a bare component without any arguments passed in.

[2016-08-16 13:24] rwwagner90 commented on #17
@chaserkid the only thing that is required right now, I believe, is `onChange`. You can set `onChange=null` if you don't care about it. If you look in the console, it should give you a very clear error message that you have to pass that.

[2016-08-16 13:29] chaserkid commented on #17
Thank you. That was my problem.

[2016-08-16 13:29] #17 closed

[2016-09-23 01:24] jamesdixon opened #24 "Flatpickr 2.0"
Listen man, Flatpickr 2.0 came out 1 day ago and this addon has not been updated. What gives??!?!??

[2016-09-26 14:00] rwwagner90 commented on #24
Haha wasn't aware it had come out 😛 . I'll update and add any new options in ASAP

[2016-10-27 12:50] rwwagner90 opened #38 "Use ember-cli-code-coverage"
Since blanket no longer works, we need to switch to ember-cli-code-coverage

[2016-10-28 11:00] rwwagner90 commented on #38
Done

[2016-10-28 11:00] #38 closed

[2016-11-04 13:38] greenkeeper[bot] opened #40 "An in-range update of ember-cli-htmlbars-inline-precompile is breaking the build 🚨"
## Version **0.3.6** of [ember-cli-htmlbars-inline-precompile](https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fember-cli-htmlbars-inline-precompile-0.3.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>

[2016-11-05 00:14] #40 closed

[2016-11-05 00:14] rwwagner90 commented on #24
Finally released!

[2016-11-05 00:14] #24 closed

[2016-11-05 07:39] rishimukherjee opened #41 "After installing this addon, ember serve is failing"
Here is the error I am receiving.

[code]

[2016-11-06 13:30] rwwagner90 commented on #41
@rishimukherjee I see some stuff about fastboot in that stack trace. Are you running `ember serve` here or using fastboot?

[2016-11-15 15:37] greenkeeper[bot] opened #45 "An in-range update of flatpickr is breaking the build 🚨"
## Version **2.0.9** of [flatpickr](https://github.com/chmln/flatpickr) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fflatpickr-2.0.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flatpickr
    </td>
  </tr>
  <tr>
    <th align

[2016-11-16 16:47] #45 closed

[2016-11-17 23:28] greenkeeper[bot] opened #48 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **7.1.1** of [babel-eslint](https://github.com/babel/babel-eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fbabel-eslint-7.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>
  <tr>

[2016-11-18 21:48] greenkeeper[bot] opened #52 "An in-range update of flatpickr is breaking the build 🚨"
## Version **2.1.1** of [flatpickr](https://github.com/chmln/flatpickr) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fflatpickr-2.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flatpickr
    </td>
  </tr>
  <tr>
    <th align

[2016-11-21 18:33] #48 closed

[2016-11-21 18:33] rwwagner90 commented on #41
@rishimukherjee you still having problems?

[2016-11-22 15:31] #52 closed

[2016-11-25 22:02] greenkeeper[bot] opened #55 "An in-range update of flatpickr is breaking the build 🚨"
## Version **2.2.0** of [flatpickr](https://github.com/chmln/flatpickr) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fflatpickr-2.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flatpickr
    </td>
  </tr>
  <tr>
    <th align

[2016-11-28 12:49] #55 closed

[2016-12-06 06:00] greenkeeper[bot] opened #67 "An in-range update of ember-load-initializers is breaking the build 🚨"
## Version **0.6.3** of [ember-load-initializers](https://github.com/ember-cli/ember-load-initializers) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fember-load-initializers-0.6.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      em

[2016-12-06 14:44] #67 closed

[2016-12-06 16:06] rwwagner90 commented on #41
@rishimukherjee are you there? I would love to help you figure this out.

[2016-12-07 14:03] rishimukherjee commented on #41
Hi. I didn't get any email. So missed it. Really sorry.

I didn't try after that we moved to using simple masks for date input. But yes, I use `ember serve` to run the project and my version of Ember is `2.7.0`. My node version is `3.10.9`.

[2016-12-07 14:15] rwwagner90 commented on #41
@rishimukherjee no problem. Are you sure that is your node version? I think node went from 0.12 to 4. Can you please tell me what `node --version` outputs?

[2016-12-07 15:33] rwwagner90 commented on #41
@rishimukherjee the stack trace also seems to indicate the use of fastboot, even though you say you are just running `ember serve`.

There was an issue with fastboot, which I just fixed, and released version 1.0.2. So please try it and see if the problem is gone.

[2016-12-13 17:52] rwwagner90 commented on #41
Since I have not heard from you, I am going to close this. Please reach out if you are still having issues!

[2016-12-13 17:52] #41 closed

[2016-12-29 11:20] lypborges opened #79 "[Question] Format value and display"
Tks for this addon. ;)

I try to look in the docs of flatpickr but I couldn't find how to send a format to server but display another for the user.
I need to send a iso8601 string, is that possible?

[2016-12-29 15:41] rwwagner90 commented on #79
`dateFormat` and `altFormat` are what you want. They should be documented on the flatpickr docs in the options section.

[2016-12-29 19:25] lypborges commented on #79
Sorry, but I try that:

`
 {{ember-flatpickr
    dateValue=dateValue
    dateFormat='Y-m-d'
    altInput=true
    altFormat='Y-m-d'
    placeholder=placeholder
    value=dateValue
    onChange=(action (mut dateValue))
  }}
`

This show the date on right format `2016-12-30`, but when the AJAX is made the value that hits on the server is "Fri Jan 06 2017 00:00:00 GMT-0200 (BRST)".

Sorry if I'm miss

[2016-12-30 01:58] rwwagner90 commented on #79
Sounds like a bug in flatpickr itself. Your options look more or less correct. Could you try and see if using flatpickr directly, instead of ember-flatpickr has the same issue?

[2016-12-30 02:01] rwwagner90 commented on #79
Are you sending the AJAX call in the onChange or what? If you can create some sort of example, I can look into it.

[2016-12-30 11:37] lypborges commented on #79
I'm sending the AJAX ou the form submit. May be I'm doing something wrong. I'll make a dummy project and share with you.

I'm not sure how to do that, but I'll try.

But, here are my code:
My component (ms-datepicker) .hbs
[code]

The edit.hbs template

[code]

Sending from the route

[code]

[2016-12-30 12:45] lypborges commented on #79
Here is the demo.

https://github.com/lypborges/sample_datepicker.git

[2017-01-02 11:55] oskarrough opened #83 "Could not find module `ember-assign-polyfill`"
Hi, I'm getting the following error with ember 2.10.0 and ember-flatpickr 1.1.0 when I visit a route that has ember-flatpickr in it.

As soon as I run `yarn add ember-assign-polyfill` it works. But I suppose that shouldn't be necessary. Also since I'm above Ember 2.4. Any ideas?

[2017-01-02 19:23] greenkeeper[bot] opened #84 "An in-range update of flatpickr is breaking the build 🚨"
## Version **2.2.5** of [flatpickr](https://github.com/chmln/flatpickr) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fflatpickr-2.2.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flatpickr
    </td>
  </tr>
  <tr>
    <th align

[2017-01-03 00:00] lypborges commented on #83
Same error here. I need to change the package.json on the ember-flatpickr.

[code]

And add `    "ember-assign-polyfill": "1.0.0",`

[2017-01-03 01:16] rwwagner90 commented on #83
Sorry guys, I had `ember-assign-polyfill` in devDependencies, but I think it needed to be in dependencies. I moved it and released version 1.1.1 with the change. Please give it a shot and let me know if this is resolved.

[2017-01-03 10:04] oskarrough commented on #83
No worries. Version 1.1.2 works here. Thank you for the quick response!

Just for the record, when do you need to use devDependencies and when dependencies for ember-cli addons?

[2017-01-03 10:04] #83 closed

[2017-01-03 18:21] #84 closed

[2017-01-03 20:44] lypborges commented on #79
Tks for your help. I was getting the wrong param from onChange. I should get dateStr and not selectedDates.

[code]
[code]

[2017-01-03 20:53] #79 closed

[2017-01-04 13:16] jgadbois opened #89 "Open via flatpickrRef not working"
I'm attempting to open via an icon using the flatpickrRef and the calling `open()` on flatpickr.  It's calling the method correctly but the calendar won't actually show.

I'm calling like this

[code]

[2017-01-04 13:59] rwwagner90 commented on #89
@jgadbois does `this.get('calendar')` return a valid flatpickr instance?

[2017-01-04 14:05] jgadbois opened #90 "Not possible to use flatpickr with no theme"
I'd like to use the default all white styles, but it seems like a theme is required (since it defaults to dark).   Is there a way to use no theme?

[2017-01-04 14:05] rwwagner90 commented on #90
@jgadbois I think you can set theme to `default`

[2017-01-04 14:09] rwwagner90 commented on #90
Just kidding. I will release a fix for this. Please stand by.

[2017-01-04 14:12] jgadbois commented on #90
Thanks!  I actually tried that first, should have mentioned that.

[2017-01-04 14:14] jgadbois commented on #89
Yes console.log gives me:

`Flatpickr {element: input#ember1014.ember-view.ember-text-field.flatpickr-input, instanceConfig: Object, formats: Object, config: Object, l10n: Object…}`

[2017-01-04 14:26] rwwagner90 commented on #90
Released 1.1.4 which should fix this

[2017-01-04 14:26] rwwagner90 commented on #89
Then perhaps `open` is bugged on flatpickr itself? Not entirely sure.

[2017-01-04 14:35] jgadbois commented on #90
Thanks!  It is still showing the dark theme for me with:

[code]

Could your default be overriding null?

[2017-01-04 14:36] jgadbois commented on #90
Scratch that i didn't update via npm yet

[2017-01-04 14:37] rwwagner90 commented on #90
There is no default anymore. It just uses the vanilla flatpickr.css when there is no theme specified. You should be able to remove the config entirely.

[2017-01-04 14:39] jgadbois commented on #90
Works great, thanks!

[2017-01-04 15:15] jgadbois commented on #89
I'm not sure, I worked around it with `opacity: 0` on the input.  I'll close.

[2017-01-04 15:15] #89 closed

[2017-01-04 16:19] rwwagner90 commented on #89
@jgadbois I know I have seen some weird behavior where there are two flatpickrs and two inputs before. Unsure what the fix is. Would you be interested in helping debug?

[2017-01-04 16:31] jgadbois commented on #89
Sure!  When I clicked with devtools open I did see the input classes flash, but the active class wasn't there, so maybe it opened then closed immediately?

[2017-01-04 18:24] rwwagner90 commented on #89
Can you tell if there are two inputs and two flatpickr instances?

[2017-01-04 18:31] jgadbois commented on #89
No, just one instance

[2017-01-05 03:53] rwwagner90 commented on #89
Hmm, could you try using flatpickr directly, instead of this addon, and see if the same thing happens?

[2017-01-05 19:01] jgadbois commented on #89
It works

http://codepen.io/anon/pen/oBgPKQ

[2017-01-06 17:00] greenkeeper[bot] opened #93 "An in-range update of flatpickr is breaking the build 🚨"
## Version **2.3.1** of [flatpickr](https://github.com/chmln/flatpickr) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fflatpickr-2.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flatpickr
    </td>
  </tr>
  <tr>
    <th align

[2017-01-06 20:05] #93 closed

[2017-01-23 18:32] wmadden opened #99 "Node version requirement in `package.json` is out of date"
It's `0.12`, but that causes `ember-cli` to fail on the splat operator in `index.js`.

You need to require a version of Node with ES6 support.

[2017-01-26 04:28] rwwagner90 commented on #99
Changed to 4.0.0. That should work right?

[2017-01-26 04:28] #99 closed

[2017-01-26 20:21] greenkeeper[bot] opened #102 "An in-range update of flatpickr is breaking the build 🚨"
## Version **2.3.5** of [flatpickr](https://github.com/chmln/flatpickr) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fflatpickr-2.3.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flatpickr
    </td>
  </tr>
  <tr>
    <th align

[2017-02-01 17:44] #102 closed

[2017-02-26 03:34] GCheung55 opened #114 "Should changes to the value trigger onChange?"
I'm trying to follow the DDAU pattern and it seems that every change to a readonly `value` always triggers an `onChange`.

So basically the `onChange` takes the date object and sets properties that basically updates the `value`.

The `didReceiveAttrs` sets the value on the `flatpickrRef` with `flatpickr.setDate`. Should the `setdate` method be invoked with an additional `false` parma to set the da

[2017-02-27 14:31] staskij opened #115 "You modified value twice in a single render"
Simple twiddle to reproduce:
https://ember-twiddle.com/a14d945276da2982172c12caf1cb5364?openFiles=templates.application.hbs%2C

I can't understand what's causing the problem. Maybe didReceiveAttrs() which sets flatpickr date to value causes onChange to trigger again causing the mut helper to change the value again and thus updating value twice?

[2017-02-27 17:20] rwwagner90 commented on #115
@staskij sounds like it is related to the same thing as #114. Would you and @GCheung55 perhaps like to PR in a solution for this issue? 😄

[2017-02-28 17:34] staskij commented on #115
Trying to solve this.
This is the same with some console log statements, showing that onChange is indeed called twice:
https://ember-twiddle.com/a14d945276da2982172c12caf1cb5364/eb2b4a2584f97c485424316bafe3aefeebad4ec9?openFiles=components.ember-flatpickr.js%2C

Changing `flatpickr#setDate(value)` to `flatpickr#setDate(value, false)` in `didReceiveAttrs()` causes onChange not to be triggered, but

[2017-03-08 18:21] jgadbois commented on #115
I'm also having this problem after upgrade

[2017-03-08 23:33] robustdj opened #121 "Cannot install on node v4.7.3"
When running `ember install ember-flatpickr` I get the following error:

[code]

From there every `ember` command that I run yields the `Unexpected token ...` error.

This is my env:

[code]

[2017-03-08 23:34] robustdj commented on #121
Maybe I need to upgrade node?

[2017-03-08 23:45] rwwagner90 commented on #121
Yeah, you need a more up to date node.

[2017-03-08 23:45] #121 closed

[2017-03-10 15:50] marucjmar opened #122 "Change action if value is empty"
Hi,

When value is empty action not send but the code is break this. I use only DDAU, and my action not set empty array.

Could change this condition:

[code]

 to:
[code]
?

Thanks

[2017-03-10 18:07] rwwagner90 commented on #122
@marucjmar is it possible to deselect dates? Not sure how this check causes an issue. If it's related to the other issues and PRs on here, we'll have a fix soon.

[2017-03-14 17:51] humanchimp opened #125 "dateFormat doesn't work with the readonly helper"
Configuring the component in the following way results in the text input containing an unformatted date.

[code]

If I remove the `readonly` helper, the date gets formatted, but the value of `dateValue` gets cast to a string.

[2017-03-14 18:22] rwwagner90 commented on #125
@humanchimp I suspect this might have to do with the same issue everyone is reporting here. Once flatpickr releases a new version, we'll see if this issue still exists.

[2017-03-14 18:29] humanchimp commented on #125
Ah, ok. Sorry to report an issue that is already on record. If this is a duplicate, please feel free to close it.

[2017-03-15 16:04] evoactivity commented on #115
I'm currently developing an app with a lot of datepickers and the client is constantly checking my staging deploys, this problem didn't just break the datepickers, once you had interacted with one and received the error, _any_ other interaction with the app caused the error again, things isolated and unrelated to the datepicker would trigger the error.

I've gone and put in a hacky fix, in my comp

[2017-03-16 06:24] GCheung55 commented on #115
@evoactivity That's a good question. I'm not sure why this code is working for you. Because when the `setDate` `set` method is called, the `date` property is changed and since the `set` method isn't returning the value for caching, the `setDate` `get` method would be called from setting the `date` property.

Have you put in some logging in the set and get to see if it's going in a vicious cycle yo

[2017-03-16 10:34] evoactivity commented on #115
@GCheung55 I have, it logs just the once on set, but never runs get at all after set, which again, I have no idea why. I just hope flatpickr release the update soon so I can get rid of all this.

[2017-03-17 09:14] mk-conn opened #126 "wrap?"
Is it possible to use the wrap option? From what I can see, I'd say no since the component is extended from Ember.Textfield ?
I'd like to create an input group with a 'reset' action button... don't know if thats somehow possible...

[2017-03-17 09:36] mk-conn commented on #126
Okay, I already use semantic-ui ... I can build such a thing easily with that... like so:

[code]

[2017-03-17 09:36] #126 closed

[2017-03-17 14:31] rwwagner90 commented on #115
@evoactivity in the meantime, you can downgrade flatpickr to `2.3.2`, which should fix this issue. Not sure when there will be a new release yet.

[2017-03-21 00:40] greenkeeper[bot] opened #129 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **7.2.0** of [babel-eslint](https://github.com/babel/babel-eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fbabel-eslint-7.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>
  <tr>

[2017-03-21 16:33] #129 closed

[2017-03-21 16:34] rwwagner90 commented on #122
I removed the `if` entirely in version 1.1.7. Please give it a try!

[2017-03-21 16:34] #122 closed

[2017-03-21 16:34] rwwagner90 commented on #125
@humanchimp can you try installing version 1.1.7 and seeing if the issue is resolved please?

[2017-03-22 19:25] humanchimp commented on #125
It seems like my issue is different than what I described. I'm going to close this issue and open a new one later, if necessary.

[2017-03-22 19:25] #125 closed

[2017-03-22 22:51] humanchimp opened #136 "dateFormat not working correctly with `onChange` action"
Related to #125

Demo app: https://github.com/lytics/flatpickr-demo-app

I closed that issue because it didn't describe the problem correctly.

## This works

[code]

_The date is formatted correctly_

## I expected this to work, but it doesn't

[code]

_The date is unformatted_

I created an app demoing this, [the most salient part of which can be found here](https://github.com/lytics/flatpickr-d

[2017-03-27 12:37] staskij commented on #136
[Twiddle showing the behaviour](https://ember-twiddle.com/8537d10758304de1be7fe7dfcdacac02?openFiles=templates.application.hbs%2C) (strange dateFormats only to double check we're not using any defaults)

The reason for the unformatted date in the latter example is that `ember-flatpickr` `onChange` simply passes the `flatpickr` onChange arguments to the given action.
`flatpickr` onChange arguments

[2017-03-27 14:31] rwwagner90 commented on #136
Thanks for that clarification @staskij! @humanchimp with this in mind, can we close the issue?

[2017-03-27 18:35] humanchimp commented on #136
To me, it seems fairly unergonomic to require a wrapper in order to use the component in the DDAU paradigm, considering that DDAU is considered a best practice.

I think it's better to change the order of the arguments, since if someone is using this addon they shouldn't be using flatpickr directly. The original argument order seems like an implementation-level detail.

That said, it sounds like t

[2017-03-27 19:07] rwwagner90 commented on #136
@humanchimp it is documented in the README

[code]

[2017-03-27 20:24] humanchimp commented on #136
OK, sorry I missed that. I'll close this issue now

[2017-03-27 20:24] #136 closed

[2017-03-30 19:17] greenkeeper[bot] opened #142 "An in-range update of flatpickr is breaking the build 🚨"
## Version **2.4.8** of [flatpickr](https://github.com/chmln/flatpickr) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fflatpickr-2.4.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flatpickr
    </td>
  </tr>
  <tr>
    <th align

[2017-04-08 13:02] kevinansfield opened #143 "Not compatible with Node 4.x"
Due to the use of a [spread operator in index.js](https://github.com/shipshapecode/ember-flatpickr/blob/master/index.js#L29) this addon will cause the ember build to fail when using the 4.x LTS version of Node.js.

[2017-04-09 21:21] rwwagner90 commented on #143
Hi @kevinansfield, is there a reason you cannot update to at least node 5? node 8 will likely be out sometime soon, and 4 is quite old. I do not intend to really support it.

[2017-04-10 08:22] kevinansfield commented on #143
In this case it's for [Ghost](https://ghost.org) where we adhere to the Node LTS schedule. 4.x is currently our recommended version (that will change soon) but we need to support all active and maintained LTS releases. We don't have the luxury of having a central service where we're fully in control of the environment so we need to cater for the complete range of possible developer environments.

[2017-04-10 09:06] kevinansfield commented on #143
FYI, I think usage in Ghost is a moot point now, it looks like we'll be going with `ember-power-datepicker` to avoid some bugs in `flatpickr` itself.

[2017-04-10 15:21] rwwagner90 commented on #143
@kevinansfield what were the bugs with flatpickr itself? Anything we could fix in the wrapper here? The flatpickr guy has been good at fixing bugs as I report them too, if you'd like to pursue this further. Would be cool for Ghost to use it 😄

[2017-04-10 15:22] #143 closed

[2017-04-11 13:23] chewtoys opened #146 "Time Pick"
Could you implement something like this for time?

https://weareoutman.github.io/clockpicker/

right now its kind of MEH by typing it in.

[2017-04-11 14:51] rwwagner90 commented on #146
Hi @chewtoys that would probably be a feature to request in flatpickr itself, rather than here, but we could potentially add it here.

[2017-04-12 18:31] #142 closed

[2017-04-15 03:36] greenkeeper[bot] opened #148 "An in-range update of flatpickr is breaking the build 🚨"
## Version **2.5.2** of [flatpickr](https://github.com/chmln/flatpickr) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fflatpickr-2.5.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flatpickr
    </td>
  </tr>
  <tr>
    <th align

[2017-04-18 13:19] rwwagner90 commented on #146
@chewtoys would you like to request something like that in flatpickr itself?

[2017-04-18 13:24] chewtoys commented on #146
@rwwagner90 yep I requested it there, hopefully it gets added

[2017-04-18 13:26] rwwagner90 commented on #146
Closing this, in favor of implementing in flatpickr itself then. Issue can be found here https://github.com/chmln/flatpickr/issues/764

[2017-04-18 13:26] #146 closed

[2017-04-21 14:29] Mithrilhall opened #151 "Ember serve fails after installing addon"
I'm trying to use ember-flatpickr in my project and get the following error when trying to run `ember s` after installing the addon. Any idea how I can resolve this?

P.S - I'm using fastboot but I'm starting ember via `ember s`.

[code]

[2017-04-21 23:59] greenkeeper[bot] opened #152 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **7.2.3** of [babel-eslint](https://github.com/babel/babel-eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fbabel-eslint-7.2.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>
  <tr>

[2017-04-24 02:14] greenkeeper[bot] opened #153 "An in-range update of ember-cli-sass is breaking the build 🚨"
## Version **6.1.3** of [ember-cli-sass](https://github.com/aexmachina/ember-cli-sass) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fember-cli-sass-6.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-sass
    </td>
  <

[2017-04-24 13:12] rwwagner90 commented on #151
Hi @Mithrilhall, sorry to hear you are having issues, and sorry for the late reply. Is this in an app, addon, or engine?

Are you using ember-cli-node-assets yourself?

From the stack trace, it appears the issue is this https://github.com/dfreeman/ember-cli-node-assets/blob/master/lib/perform-imports.js#L8
So the config passed is undefined and therefore `config.import` blows up.

Perhaps missing a

[2017-04-24 13:13] #152 closed

[2017-04-24 13:13] #153 closed

[2017-04-24 13:13] #148 closed

[2017-04-24 17:18] Mithrilhall commented on #151
This is an app. I'll take a look around to see if we're missing `this._super.included.apply(this, arguments);` anywhere.

[2017-04-24 17:20] rwwagner90 commented on #151
@Mithrilhall are you attempting to pass a config for flatpickr in? If so, where and what are you passing? If you are in an app, the included hook is not the issue, that is for addons.

[2017-04-24 17:24] Mithrilhall commented on #151
We currently have ember-flatpickr in one of our addons that is used in the app. I'll take a look to see if we have any hooks that are not setup correctly.

[2017-04-24 17:25] rwwagner90 commented on #151
@Mithrilhall ah, then yes, it is an issue with the included hook there, and you need to make sure `ember-flatpickr` is in deps, not devDeps as well.

[2017-04-24 17:48] Mithrilhall commented on #151
I've added `"ember-flatpickr": "1.1.7",` to my addons package.json and I'm getting the following error when trying to start `ember s` from my app:

[code]

[2017-04-24 18:23] rwwagner90 commented on #151
@Mithrilhall is it in dependencies or devDependencies? It must be in dependencies.

[2017-04-24 18:24] Mithrilhall commented on #151
I have it in dependencies and I've added this

[code]
to index.js in my addon but it didn't seem to make a difference.

[2017-04-24 18:26] rwwagner90 commented on #151
@Mithrilhall you don't need that. Can you please copy your `index.js` here for me to see?

[2017-04-24 18:28] Mithrilhall commented on #151
[code]

I've removed the two lines that you said I don't need.

[2017-04-24 18:29] rwwagner90 commented on #151
@Mithrilhall replace `this._super.included( app );` with `this._super.included.apply(this, arguments);`.

[2017-04-24 18:30] rwwagner90 commented on #151
Which version of ember and ember-cli are you on?

[2017-04-24 18:32] Mithrilhall commented on #151
`ember-cli: 2.10.1` & `"ember": "~2.11.2"`

[2017-04-24 18:33] rwwagner90 commented on #151
I would expect it to work if you replace `this._super.included( app );` with `this._super.included.apply(this, arguments);`.

As a side note, you're going to want to use `this.import` instead of `app.import` for all of those imports.

[2017-04-24 18:35] Mithrilhall commented on #151
@rwwagner90 Thanks for the help. I'll poke around a bit and see if I can get this working properly. I'm 100% sure it's something in my addon that is causing the issue.

[2017-04-24 18:38] rwwagner90 commented on #151
@Mithrilhall did you try changing it to `this._super.included.apply(this, arguments)`?

[2017-04-25 14:03] wmadden opened #158 "BUG: time picker does not work"
`onChange()` is called with the correct Date value, but when the value is passed back in to the `ember-flatpickr` component its time component appears to be discarded.

Incidentally, the `ember-flatpickr` demo page includes a time picker but its value is immediately discarded. Very pretty, but completely useless.

[2017-04-26 09:09] wmadden commented on #158
Here is a twiddle demonstrating this bug: https://ember-twiddle.com/a1545ed006124f8ea8191b307fef525c?openFiles=templates.application.hbs%2C

After a little investigation, the issue is that the `dateFormat` value supplied to Flatpickr causes it to display date-time values using _only_ the date string. Supplying a default `dateFormat` param of `null` solves the problem.

[2017-04-26 09:10] wmadden commented on #158
There might be a lesson here regarding the other default values: perhaps it's better _not_ to supply anything and let Flatpickr implement its own defaults than to supply defaults that are hardcoded into `ember-flatpickr`.

[2017-04-26 12:48] rwwagner90 commented on #158
@wmadden the default `dateFormat` is the same as the one defined by flatpickr itself. I think you would have to pass `null` either way to override it. It's worth noting, that the string display in the input, is not the full date value, just a display string, so the time is likely preserved in the actual value, I would assume.

![screen shot 2017-04-26 at 8 46 16 am](https://cloud.githubusercontent

[2017-04-26 12:51] wmadden commented on #158
@rwwagner90 you're right, the `dateFormat` string is the same default documented by flatpickr. However, if flatpickr doesn't receive a `dateFormat` config option (specifically if it's `undefined` - `null` makes it throw an error) and if `enableTime` is true then flatpickr will use a formatting string that includes the time segment. If `dateFormat` is supplied and `enableTime` is true, flatpickr wi

[2017-04-26 12:53] wmadden commented on #158
You might argue that it's a flatpickr bug, I'm not sure. But at the moment I'm doing `{{ember-flatpickr dateFormat=undefined ...}}` which isn't great for consumers of `ember-flatpickr`

[2017-04-26 14:01] wmadden opened #161 "BUG: `defaultHour` option is not passed to Flatpickr"
Neither is `defaultMinute`

[2017-04-26 14:35] Mithrilhall commented on #151
I did but it didn't work. I think I have something else in my addon that's causing an issue. I appreciate all the help.

[2017-04-26 14:35] #151 closed

[2017-04-26 18:21] rwwagner90 commented on #158
I used some of the ideas from your PR to fix this issue 👍

[2017-04-26 18:21] #158 closed

[2017-04-28 09:23] rwwagner90 commented on #161
This is fixed now

[2017-04-28 09:23] #161 closed

[2017-04-28 10:12] wmadden opened #164 "RFC: How should we pass configuration options to flatpickr?"
## The problem

`ember-flatpickr` needs to pass configuration options to `flatpickr`, which are provided as attributes to the ember-flatpickr component. Ember doesn't have an idiomatic way to read all given attributes to a component, so it currently reads a [predefined array](https://github.com/shipshapecode/ember-flatpickr/blob/93dc7e419f872feb83292674fab59ea9a9c8bc32/addon/components/ember-flatp

[2017-05-04 15:41] Mithrilhall opened #166 "Using external elements"
Is it possible to use the external elements example on [using external elements](https://chmln.github.io/flatpickr/examples/#flatpickr-external-elements) page?

Also, in the  [external elements example](https://chmln.github.io/flatpickr/examples/#flatpickr-external-elements); is it possible to have the buttons disappear when _disableMobile_ is set to true?

[2017-05-05 14:56] #166 closed

[2017-05-05 15:14] rwwagner90 commented on #166
@Mithrilhall should be able to, I think. Not sure. Why did you close the issue? Figure it out?

[2017-05-05 15:17] Mithrilhall commented on #166
I figured it out using flatpickr through bower. I basically need to check 'isMobile'.

Is it possible to access the underlying flatpickr in my component.js if I'm using this addon?

[2017-05-05 15:19] rwwagner90 commented on #166
@Mithrilhall yep! Check https://github.com/shipshapecode/ember-flatpickr#flatpickrref

[2017-05-05 15:20] Mithrilhall commented on #166
@rwwagner90 Thanks! I don't know how I missed that.

[2017-05-18 00:26] greenkeeper[bot] opened #170 "An in-range update of ember-source is breaking the build 🚨"
## Version **2.13.1** of [ember-source](https://github.com/emberjs/ember.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fember-source-2.13.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-source
    </td>
  </tr>
  <tr>

[2017-05-20 18:07] greenkeeper[bot] opened #171 "An in-range update of flatpickr is breaking the build 🚨"
## Version **2.6.2** of [flatpickr](https://github.com/chmln/flatpickr) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fflatpickr-2.6.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      flatpickr
    </td>
  </tr>
  <tr>
    <th align

[2017-05-29 12:16] greenkeeper[bot] opened #172 "An in-range update of ember-cli-sass is breaking the build 🚨"
## Version **6.2.0** of [ember-cli-sass](https://github.com/aexmachina/ember-cli-sass) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fember-cli-sass-6.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-sass
    </td>
  <

[2017-06-02 18:31] greenkeeper[bot] opened #174 "An in-range update of ember-disable-prototype-extensions is breaking the build 🚨"
## Version **1.1.2** of [ember-disable-prototype-extensions](https://github.com/ember-cli/ember-disable-prototype-extensions) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-flatpickr/compare/greenkeeper%2Fember-disable-prototype-extensions-1.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Depen

[2017-06-02 21:09] #174 closed

[2017-06-08 21:11] #171 closed

[2017-06-08 21:12] #172 closed

[2017-06-08 21:12] #170 closed

[2017-06-15 13:40] Mithrilhall opened #179 "Using 'allowInput' only updates the date if enter is pressed"
With **allowInput** set to **true**, if the user types in a date and clicks outside of the ember-flatpickr input; the date never really updates. It appears that the user needs to hit the **enter** button for the date to actually update.

[Ember Twiddle](https://ember-twiddle.com/19302d25c184c34117ec17ade0b5b1d0)

[2017-06-15 13:43] Mithrilhall opened #180 "Using 'allowInput' requires the user to click outside of the input (twice) for focus to be lost"
Using **allowInput** requires the user to click outside of the input (twice) for focus to be lost.

[Ember Twiddle](https://ember-twiddle.com/19302d25c184c34117ec17ade0b5b1d0?openFiles=templates.application.hbs%2C)

[2017-06-15 13:46] rwwagner90 commented on #179
@Mithrilhall Isn't this probably a flatpickr issue?

[2017-06-15 13:56] Mithrilhall commented on #179
@rwwagner90 I'm getting ready to test it now using plain old flatpickr.

[2017-06-15 13:57] Mithrilhall commented on #179
@rwwagner90 This is indeed an issue with flatpickr. I apologize.

[2017-06-15 13:57] #179 closed

[2017-06-15 20:05] rwwagner90 commented on #180
@Mithrilhall I assume this is the same issue as the other one? Can we close it too as it's likely a flatpickr bug?

[2017-06-15 20:07] Mithrilhall commented on #180
@rwwagner90 I don't think this is the same issue (I could be wrong). I tested this in a jsfiddle with vanilla flatpickr and it didn't have this issue. I'll recreate it and link to it in here.

[2017-06-16 13:09] Mithrilhall commented on #180
Vanilla flatpickr doesn't appear to have this behavior.

[JSFiddle Example](https://jsfiddle.net/Mithrilhall/xpcs7dag/)

[2017-06-18 10:19] irawel commented on #115
This problem still occurs with the latest ember-flatpickr with mode="range" option.
The ember-flatpickr component is initialiazed with following:
`mode= "range"`
`onChange=(action (mut dateValues))`
`value=(readonly dateValues)`
And when the date is set for the second time, `You modified value twice in a single render` error throws.

[2017-06-24 00:08] scottfisk opened #185 "Clearing datepicker programatically"
So far I have been unable to find a way to clear (reset back to placeholder) the datepicker programatically without using a `flatpickrRef` on my parent component.

I have tried setting `value` to `null` but due to [this if statement](https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/components/ember-flatpickr.js#L123) that doesn't actually set the value in flatpickr.

If I use a `

[2017-06-27 17:24] rwwagner90 commented on #180
@Mithrilhall can you please try ember-flatpickr 1.3.0? This seems to have been an issue with older flatpickr.

[2017-06-27 17:27] rwwagner90 commented on #185
Hi @scottfisk, thanks for submitting an issue. I'm not sure if we really even need the `value` stuff anymore. We could maybe use just `defaultDate`. I'd be open to a PR to fix it 😄

[2017-06-27 17:30] Mithrilhall commented on #180
Works like a charm. Thank you @rwwagner90.

[2017-06-27 17:30] #180 closed

[2017-06-28 00:34] rwwagner90 commented on #185
I just released 1.3.1, which allows passing `null` for the date to clear it. Please give it a try!

[2017-06-28 00:34] #185 closed

[2017-07-13 22:48] scottfisk commented on #185
Finally got around to trying this out. Worked great. Thanks a lot!

[2017-07-19 14:14] rwwagner90 commented on #164
I solved this by using `this.attrs`. Not sure why the Ember team recommends against it, but rwjblue said it was okay 😄

[2017-07-19 14:14] #164 closed

[2017-08-15 14:24] Mithrilhall opened #194 "Setting defaultDate"
Setting the time via **defaultDate** doesn't appear to work in ember-flatpickr.

[Twiddle Example (ember-twiddle)](https://ember-twiddle.com/131fece8194455a9a542ea9360174df1?openFiles=templates.application.hbs%2C)

[JSFiddle Example (flatpickr)](https://jsfiddle.net/9o1cya9t/2/)

[2017-08-15 14:26] rwwagner90 commented on #194
@Mithrilhall please use `date="8:25 AM"` and it will work. Do you need `defaultDate`?

[2017-08-15 14:30] Mithrilhall commented on #194
Thanks @rwwagner90. *date* will work...no need for *defaultDate*.

[2017-08-15 14:30] #194 closed

[2017-08-22 15:10] jleja opened #195 "Using altInput property prevents dynamic updating of disabled property"
Example Twiddle:  https://ember-twiddle.com/ab927f989a3ae2863c08d8e9078a48ca?openFiles=templates.application.hbs%2C

When using the `altInput` property, the `disabled` property gets set once, but doesn't update if you need to programmatically toggle it.  Given the Twiddle above, the first example shows a Flatpickr instance where you can toggle a checkbox, and it will enable/disable the Flatpickr.

[2017-08-22 18:46] rwwagner90 commented on #195
This is fixed in 2.0.2

[2017-08-22 18:46] #195 closed

[2017-11-07 15:26] jtabone16 opened #207 "Compatible with 1.13?"
We're finally upgrading our app to 1.13 and want to move away from using a jQuery lib for our date-time picker. Is this compatible? Couldn't find anything in the docs

[2017-11-07 15:38] rwwagner90 commented on #207
Hi @jtabone16, I'm not sure if it is compatible or not. It is only tested on LTS versions, and not written with support for 1.13 in mind. However, that does not necessarily mean it doesn't work.

I would highly recommend updating to Ember 2.8+ to at least be on an LTS version. I realize that can be a lot of work though. If you are interested in help with updating, my consulting company has experie

[2017-11-16 13:56] ashokaditya opened #211 "How do you implement a range plugin?"
Similar to this?

https://chmln.github.io/flatpickr/plugins/#rangeplugin-beta

[2017-11-16 16:55] rwwagner90 commented on #211
@ashokaditya that appears to be in beta, from the docs. Do you need two inputs do do you just want a range picker? You can set `mode` to `range` which is specified in the flatpickr docs https://chmln.github.io/flatpickr/options/.

If you really need two inputs or want to implement a custom rangePlugin, I don't think we currently support this. I would definitely be open to supporting this though. W

[2017-11-16 20:25] ashokaditya commented on #211
Thanks for your response @rwwagner90

Yes I would require two inputs. It is more intuitive, I think.
Like a `From` and `To` date inputs where the `To` date has to be greater than the chosen `From` date. Something like you usually see on flight booking apps. Does that make sense?

I would love to create a pull request if you agree :)

Please let me know,
Thanks.

[2017-11-16 22:59] rwwagner90 commented on #211
@ashokaditya the PR would be just to support range plugins, which should allow you to do whatever sort of ranges you want.

FWIW, you can also do this now without the plugins, but just using two `ember-flatpickr` instances.

[2017-11-21 13:15] ashokaditya commented on #211
I'll give it a shot with two instances of ember-flatpicker and let you know how it goes, if that's okay.

[2017-11-21 14:50] rwwagner90 commented on #211
@ashokaditya not interested in adding support for rangePlugins in a PR? No pressure either way, but we should probably support it, if flatpickr supports it.

[2017-11-21 20:28] ashokaditya commented on #211
Oh I thought you didn't want me to create a pull request. I think it is a great idea to have the range plugin support :) I would love to create a PR for this. Would you mind telling me how should I proceed?

[2017-11-22 00:45] rwwagner90 commented on #211
@ashokaditya no, I said you should create a PR. I said:

I definitely want to support all things flatpickr supports. Let me know what you need from me, and I am happy to help!

[2017-11-27 11:02] ashokaditya commented on #211
@rwwagner90 I'm glad that you agree.
I would like to know what all do I need to include in a pull request?
Is there a  specific format you prefer? Or just a simple pull request branch?
If yes, which branch?

Ash.

[2017-11-27 12:24] rwwagner90 commented on #211
@ashokaditya I don't have anything I require for a PR, but tests would be nice.

[2017-11-29 11:44] rwwagner90 commented on #207
@jtabone16 bump ^

[2017-12-07 17:40] albertosouza opened #217 "Components not getting attributes problem with this.attrs"
Hello,
My component attributes was ignored in new versions of ember-flatpicker (v2)

If i log ths this.attrs value in setupComponent show: {value: undefined, onChange: ƒ}

I think may be related to this: https://locks.svbtle.com/to-attrs-or-not-to-attrs

[code]

[2017-12-07 18:42] rwwagner90 commented on #217
@albertosouza we don't use `value` anymore. Please see the changelog. https://github.com/shipshapecode/ember-flatpickr/blob/master/CHANGELOG.md#200

[2017-12-07 19:33] albertosouza commented on #217
@rwwagner90 i found the problem ...
I have many forms with datetime picker and for economize code i build one component extending the ember-flatpickr:

[code]
This component above only works with old version of ember-flatpickr

I changed my component to change the this.attrs before ember-flatpickr init and now is working.

Working version:
[code]

Thank you for your attention.

[2017-12-07 19:51] rwwagner90 commented on #217
@albertosouza instead of directly extending the component, you could use a wrapper component, and everything should work fine, I think.

[2017-12-07 19:59] albertosouza commented on #217
@rwwagner90 yes, wrapper component shold work too but now my extension is working ...
thanks

[2017-12-07 20:00] #217 closed

[2017-12-14 03:47] rwwagner90 opened #219 "Test ticket from Code Climate"

[2017-12-14 03:47] rwwagner90 opened #220 "Fix "method_complexity" issue in addon/components/ember-flatpickr.js"
Function `didReceiveAttrs` has a Cognitive Complexity of 17 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/shipshapecode/ember-flatpickr/addon/components/ember-flatpickr.js#issue_5a29c5cadc8680000100001f

[2017-12-14 03:47] rwwagner90 opened #221 "Fix "method_lines" issue in addon/components/ember-flatpickr.js"
Function `didReceiveAttrs` has 32 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/shipshapecode/ember-flatpickr/addon/components/ember-flatpickr.js#issue_5a29c5cadc86800001000020

[2017-12-14 03:47] #219 closed

[2017-12-14 03:48] rwwagner90 commented on #211
@ashokaditya any progress on this? Anything I can help with?

[2017-12-14 12:40] ashokaditya commented on #211
Hi @rwwagner90. I haven't had the time to write tests yet for the PR.
I could use some help with a dummy test file if you could provide one?

Please let me know.
Thanks.

Ash

[2017-12-14 13:30] rwwagner90 commented on #211
@ashokaditya there are tests already in the repo https://github.com/shipshapecode/ember-flatpickr/tree/master/tests

[2018-01-07 06:54] #220 closed

[2018-01-07 06:54] #221 closed

[2018-01-07 06:56] rwwagner90 commented on #207
@jtabone16 since I have not heard back from you, I am going to close this. Please feel free to try it out with 1.13, and if you encounter issues, I would be glad to help fix them.

[2018-01-07 06:56] #207 closed

[2018-01-07 06:57] rwwagner90 commented on #211
@ashokaditya are you still working on this?

[2018-01-08 04:44] adambedford opened #228 "Best way to implement without an input field?"
I'm building an inline-edit component and I'd like to show the datepicker when the date label is clicked on (i.e. there is no form / no inputs).

This is similar to flatpickr's `wrap` option except that I don't want an input at all.

Any guidance on the best way to approach this with ember and this plugin?

[2018-01-08 15:08] rwwagner90 commented on #228
Are you not going to show the date the user picked after they pick it? That value is populated in the input. I would recommend maybe styling the input to just look like text by removing the border and such. I did something similar with this addon https://github.com/shipshapecode/ember-x-editable check out the demo on there.

[2018-01-08 20:44] adambedford commented on #228
@rwwagner90 Thanks for your response. Your suggested approach works nicely!

[2018-01-08 20:44] #228 closed

[2018-01-10 15:57] rwwagner90 commented on #211
@ashokaditya I'm going to assume you are no longer working on this and close the issue. If you would like to work on it more, please let me know.

[2018-01-10 15:57] #211 closed

[2018-01-13 06:05] seansellek opened #229 "Deprecation Warning"
The dependency `ember-diff-attrs` causes a deprecation warning when run with 2.18:

`DEPRECATION: An addon is trying to access project.nodeModulesPath. This is not a reliable way to discover npm modules. Instead, consider doing: require("resolve").sync(something, { basedir: project.root }). Accessed from:   DependencyVersionChecker.NPMDependencyVersionChecker (/Users/ssellek/Impinj/new-imc/thresho

[2018-01-13 15:20] rwwagner90 commented on #229
Merged the PR, so closing this. Thanks!

[2018-01-13 15:20] #229 closed

[2018-01-13 18:56] lypborges opened #231 "[Question] Auto close on range"
When I update from 2.2.0 to 2.3.0 I get a different behavior from the datepicker range.
In the old version (2.2.0) when I selected the second data the calendar close and fired the onClose action. I think this is the same way flatpicker does. But now in the 2.3.0 the calendar stay open. Let me know how can I help. Tks for keep this addon.

[2018-01-13 22:12] lypborges commented on #231
I found what's going. It's was an erro on my app. Sorry.

[2018-01-13 22:12] #231 closed

[2018-04-09 13:25] dbendaou opened #244 "test: Unable to import test-helpers in ember 3.0 (i.e. isFlatPickerOpen, setFlatpickrDate etc..)"
You've added `ember-native-dom-helpers` in devDependencies but if you don't have this package in your project it will fail

And `start-app.js` is no longer required in ember 3 so the helpers should be imported in `test-helpers.js`

[2018-04-09 13:28] rwwagner90 commented on #244
Would you be interested in submitting a PR to fix those things up? 😄

[2018-04-09 13:29] dbendaou commented on #244
Why not i will try to submit one before the end of the week :) 👍

[2018-04-11 19:30] rwwagner90 commented on #244
@dbendaou I believe I fixed this issue, and it no longer uses ember-native-dom-helpers. Can you confirm?

[2018-04-12 16:46] dbendaou commented on #244
Yep, `ember-native-dom-helpers` is no longer needed

[2018-04-12 18:52] #244 closed

[2018-04-15 05:46] chenxu-javascript opened #247 "trigger time by button"
My English is not good.  i want you can help me.
now. i want to trigger time control via button.
such as .
the  first way
![image](https://user-images.githubusercontent.com/16332458/38775297-66092742-40b1-11e8-9b3c-cc5b8ed6d364.png)

![image](https://user-images.githubusercontent.com/16332458/38775320-bd7fcec2-40b1-11e8-812a-a294e3439fe2.png)

![image](https://user-images.githubusercontent.com/163

[2018-04-15 12:34] rwwagner90 commented on #247
`flatpickrRef.toggle()` did not work? It looks like you are not passing `date` into the component, which is likely to break things.

[2018-04-20 07:35] #247 closed

[2018-05-02 12:56] dbendaou opened #249 "input-date: unable to type a date unless I press enter after + clicking on wanted date"
Hi, it's me again 🙄

Don't know if it's a bug or bad ux, but when the `allowInput` option is activated,
you need to type your wanted `date` THEN you need to press enter and THEN to click on the wanted date.
I would like to only type the date and don't be forced to press enter and then click on the date which is a bit frustrating..

There is a gif of the behavior
![may-02-2018 14-55-15](https://use

[2018-05-02 13:00] dbendaou commented on #249
If it's unclear, i would be happy to explain it in another way 😃

[2018-05-02 16:01] rwwagner90 commented on #249
@dbendaou does this error happen with flatpickr itself as well or just when using ember-flatpickr?

[2018-05-03 12:26] rwwagner90 commented on #249
If this is confirmed to be an ember-flatpickr issue, we can definitely try to fix it. I don't have the time to investigate if it is a flatpickr bug right now.

[2018-05-03 13:01] dbendaou commented on #249
It seems to came from flatpickr bad implementation.. https://jsfiddle.net/xxmp01qk/

I'm closing this issue since it doesn't came from this repo. Thanks for the help

[2018-05-03 13:01] #249 closed

[2018-05-03 16:13] rwwagner90 commented on #249
I would recommend opening an issue on the flatpickr repo, if there is an error, and linking back here please.

[2018-05-11 23:21] nragaz opened #251 "Relax flatpickr version constraint"
Hardcoding the point release of flatpickr means that users of this add-on can't benefit from bug fixes, as in the recently released v4.4.5 and v4.4.6. A `~` or `^` constraint would be very helpful!

[2018-05-13 17:49] rwwagner90 commented on #251
Flatpickr frequently has bugged releases, which break ember-flatpickr, so it is locked to be on the safe side. I used to have `^`, and ended up with a ton of bugs, but we can try adding it back for awhile.

[2018-05-13 18:05] rwwagner90 commented on #251
I bumped the version and added back `^`. Hope this helps!

[2018-05-13 18:05] #251 closed

[2018-05-13 18:49] nragaz commented on #251
Thank you!

[2018-06-25 16:33] mcand opened #252 "TypeError: Cannot read property 'slice' of undefined"
I'm getting this error using the addon.
Any workaround for this ? I'm using ember-cli 3.0.0

[2018-06-25 18:00] rwwagner90 commented on #252
@mcand I'm really not sure, without more info. Can you please elaborate on how you are using the addon and where the error occurs?

[2018-06-26 12:41] mcand commented on #252
@rwwagner90, I have just installed the addon as it's in the install instructions. In the view I tried the basic:

    {{ember-flatpickr
      allowInput=false
      altFormat='Y-m-d'
      altInput=true
      altInputClass='my-alt-input'
      clickOpens=true
      date=null
      dateFormat='M/D/Y'
      defaultDate=defaultDate
      defaultHour=12
      defaultMinute=0
      disable=datesToDisab

[2018-06-26 14:21] mcand commented on #252
In the console log I get this about slice. I tried to pass a date as well but I'm prompted with the same error. Is there any project of example for me to look the code ?

[2018-06-26 18:01] rwwagner90 commented on #252
Can you please paste the stack trace from the error?

Yes, the dummy app has examples https://github.com/shipshapecode/ember-flatpickr/blob/master/tests/dummy/app/templates/application.hbs

[2018-07-02 15:37] bsylvain opened #253 "disable : Is it possible to use it with a function?"
Flatpickr can use a function for disable : https://flatpickr.js.org/examples/#disabling-dates

I cannot make it work in ember-flatpickr, is there any example of disable used with a function ?

[2018-07-02 17:15] rwwagner90 commented on #253
@bsylvain can you please share what you have tried? We're just passing the options to flatpickr, so it should support the same things.

[2018-07-06 11:45] Techn1x opened #255 "altFormat not binded?"
I have something like this

Template
[code]

Controller
[code]

Basically, altFormat is definitely being changed when it is meant to, but the string displayed in the flatpickr input is not changing to the new altFormat string.

https://ember-twiddle.com/3a64d259966a1494315cd20ead8b4959?openFiles=controllers.application.js%2C

Should it be binded? If not, is there a way I can still do this?

Thanks

[2018-07-06 13:02] rwwagner90 commented on #255
It's not currently one of the things we update. It could potentially be added though. It would need to be added here https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/components/ember-flatpickr.js#L53

[2018-07-06 13:14] Techn1x commented on #255
Cool, thanks for that, I'll submit a PR when I get some free time

[2018-07-06 13:21] bsylvain commented on #253
I managed to get it working, I needed to put the fonction in an array and use arrow function to be able to use this.get().

[2018-07-06 23:04] rwwagner90 commented on #253
Glad to hear it works for you!

[2018-07-06 23:04] #253 closed

[2018-07-08 23:14] Techn1x commented on #255
https://github.com/shipshapecode/ember-flatpickr/pull/256

[2018-08-29 01:36] greenkeeper[bot] opened #262 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-30 01:11] danielspaniel opened #264 "ember-source v.3.4 => Deprecate component#sendAction"
Hi there. Looks like you are still using sendAction somewhere in the flatpicker component, and ember now deprecates that.  Do you have time to fix that?  If you need a hand let me know.

[2018-08-30 04:30] rwwagner90 commented on #264
Hi @danielspaniel we're using it in several spots. We should use closure actions instead. I'd be open to a PR if you would like.

[2018-08-30 14:49] danielspaniel commented on #264
Actually, I realize I have to fix my own addons Robert, so I will let you get this one for now.

[2018-09-18 14:47] yagosenhorini opened #265 "Select only month and year"
Hi.
Is there a way to select only the year and month, excluding the dayContainer of the component?
I've read the docs, but I couldn't solve this doubt.

[2018-09-18 16:14] rwwagner90 commented on #265
Not to my knowledge. You can check the config options for flatpickr at https://flatpickr.js.org/options/

[2018-09-18 16:14] #265 closed

[2018-09-19 18:46] Kilowhisky commented on #264
Here's the PR for it.

[2018-09-29 02:30] rwwagner90 commented on #264
This was closed by #266

[2018-09-29 02:30] #264 closed

[2018-09-29 02:30] #262 closed

[2018-10-05 16:16] greenkeeper[bot] opened #268 "An in-range update of ember-power-select is breaking the build 🚨"
## The devDependency [ember-power-select](https://github.com/cibernox/ember-power-select) was updated from `2.0.8` to `2.0.9`.

🚨 [View failing branch](https://github.com/shipshapecode/ember-flatpickr/compare/master...shipshapecode:greenkeeper%2Fember-power-select-2.0.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

emb

[2018-10-06 13:48] #268 closed

[2018-10-08 00:07] #255 closed

[2018-10-31 17:35] efx commented on #249
I think this is the upstream issue: https://github.com/flatpickr/flatpickr/issues/1551

[2018-11-26 16:40] greenkeeper[bot] opened #278 "An in-range update of ember-power-select is breaking the build 🚨"
## The devDependency [ember-power-select](https://github.com/cibernox/ember-power-select) was updated from `2.1.0` to `2.2.0`.

🚨 [View failing branch](https://github.com/shipshapecode/ember-flatpickr/compare/master...shipshapecode:greenkeeper%2Fember-power-select-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

emb

[2018-12-10 16:19] #278 closed

[2018-12-31 20:34] bracke opened #285 "Problem with setting date to array"
Hi

I'm using emner-flatpickr in range mode and want to supply two values at start values, but I get an exception:

"Assertion Failed: {{ember-flatpickr}} requires a `date` to be passed as the value for flatpickr."

{{ember-flatpickr
          locale="da"
          mode="range"
          nextArrow=">"
          date=['01-01-2011', '12-12-2016']
          dateFormat="d-m-Y"
          altFormat="Y-m

[2019-01-01 01:15] rwwagner90 commented on #285
I don't think the example you provided is valid handlebars.

`date=['01-01-2011', '12-12-2016']` would not work. You would have to setup an array in your JS and pass it down.

[2019-01-01 17:35] bracke commented on #285
I have tried with an array in js, but it seemed to make flatpickr ignore the mode=range setting so it only took the first value.

But I found out what was wrong - it was the mindate - it was later than one of the values in the range!
I adjusted and now it works :-)

Thanks for responding.

Happy New Year.

[2019-01-01 17:35] #285 closed

[2019-01-09 15:59] lifeart opened #289 "Empty date value with placeholder support?"
[code]
same for
[code]

produce init error

[2019-01-09 16:11] rwwagner90 commented on #289
It definitely works as `null`. See https://github.com/shipshapecode/ember-flatpickr/blob/master/tests/dummy/app/controllers/docs/components/ember-flatpickr.js#L6

An `onChange` is required though https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/mixins/flatpickr.js#L24

Perhaps that's your issue?

[2019-01-09 16:15] lifeart commented on #289
@rwwagner90 thank you for quick response! I have `onChange` as well, going to digg back to my code, and close this issue until I can reproduce it using ember-twiddle.

[2019-01-09 16:15] #289 closed

[2019-01-09 16:40] lifeart commented on #289
It will be nice to add assert check for 'dateFormat` is string

[2019-01-09 18:04] lifeart commented on #289
`dateFormat` should be string, but due to some issue it was undefined in my wrapper component. and this is produce hard-to-debbug issue, mentioned in ember-twiddle link.

![image](https://user-images.githubusercontent.com/1360552/50918737-1a24bd80-1452-11e9-8219-543b64b27a71.png)

[2019-01-09 19:20] bedrosenator opened #291 "On change locale there is an error this.setupComponent is not a function"
When I change locale dynamically I get this error. I suppose it should be this.setupFlatpickr()
[code]

[2019-01-09 20:50] lifeart commented on #289
just to save time for next users, I can add kinda assert validation for `dateFormat` if it's present in params

[2019-03-29 01:37] bsylvain opened #298 "OnChange, the value in the store become an array"
I am handling a date object, and I only wnat to modify the date from a DS object :

          {{ember-flatpickr
            dateFormat='d/m/Y'
            date=(readonly model.shop_data_user.last_contact)
            onChange=(action (mut model.shop_data_user.last_contact))}}

When I change It, in the ember inspector the new date is now the single item of an array. How can I correct that?

[2019-04-01 13:32] rwwagner90 commented on #298
Flatpickr passes arrays of selected dates, and our `onChange` wrapper does the same. https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/mixins/flatpickr.js#L128

You'll want to define your on `onChange` action, rather than using `mut`. Something like this:

[code]

[code]

[2019-05-12 12:56] ejthan commented on #211
I would be very interested to add plugins. However, I'm not quite sure how to implement the class call ('[new weekSelect({})]') without eval().

[2019-05-13 11:03] rwwagner90 commented on #211
@ejthan I am not familiar with these plugins. What changes do we need?

[2019-06-03 20:32] nadnoslen opened #306 "Aria Support?"
Just did a quick search of the issues and don't see any mention of aria support.  Wonder if I can help fold a few of those aria attributes into these inputs?  e.g. `aria-describedby`.

[2019-06-03 20:42] rwwagner90 commented on #306
@nadnoslen we would love the help! I am not sure the state of aria and a11y support in general in flatpickr and not sure if this would be better here or there, but totally agree it should be supported!

[2019-06-03 20:48] nadnoslen commented on #306
I'll take a look at the component implementation to just see if we can wedge it into the input without doing any damage.

[2019-06-03 20:55] rwwagner90 commented on #306
@nadnoslen do you think it belongs here, rather than in flatpickr itself?

[2019-06-03 20:58] nadnoslen commented on #306
Hey @rwwagner90, your wonderful add-on has abstracted so much of Flatpickr away from me that I'm not yet qualified to answer that question!!

In my opinion, it aria attribute assignments would be responsible by the code that is actually defining the `<input>`.

I've forked your addon and will poke around shortly.  😉

[2019-06-04 15:44] teakap opened #308 "Add today button to flatpickr"
Hey, I am want to add a 'today' button on the ember-flatpickr.

I found this [plugin](https://github.com/jcsmorais/shortcut-buttons-flatpickr) but I can't make it work.
Maybe it's out of scope, cause already the flatpickr doesn't support a today button, but I believe many people would like this feature.

Another approach would be to add the button by using [ember-elsewhere](https://github.com/ef4/

[2019-06-04 17:49] rwwagner90 commented on #308
Hi @teakap, we could add this functionality to this addon. Would you be interested in working on it?

[2019-06-04 20:39] teakap commented on #308
Sure. I cloned the repo, but I wasn't able to understand how the code works. I was expecting to find something like components ex. `flatpickr-months`. Am I cloning the correct repo?  When I run it it shows the page of the docs. Probably I'm missing something huge, but can't figure it out :)

[2019-06-05 07:59] teakap commented on #308
Nevermind, I got it. You extend the flatpickr. So actually.. if we want to add properly a today btn, I will need to make a PR to the [flatpickr](https://flatpickr.js.org/).

[2019-06-05 13:49] teakap commented on #308
Connected with this one, I am trying to implement the [plugin](https://github.com/jcsmorais/shortcut-buttons-flatpickr) I mentioned you above. The way to initiliaze the plugin is something like:

[code]

https://codepen.io/jcsmorais/pen/BxLzZV

I am trying to do the same on `didInsertElement` hook on `my-datepicker` component.
like so:
[code]
and my `my-datepicker.hbs`

[code]
 But I get this `thi

[2019-06-05 17:51] rwwagner90 commented on #308
@teakap

The docs have a demo of the component functionality. You can play with the component there.

ember-flatpickr wraps flatpickr. We are able to add extra functionality here. It could be an enhancement to ember-flatpickr, rather than flatpickr itself.

Do you see any workarounds ?

`flatpickrRef` is set to the flatpickr reference, after it is initialized. The reason it is not defined here, is

[2019-06-06 04:55] nadnoslen commented on #306
Hey @rwwagner90,

Looks like adding a few more `attributeBindings` is what is in order.  I'm working on this in my fork.  I'll summarize when I'm done.  Cheers.

[2019-06-06 12:08] teakap commented on #308
Yiap, it totally makes sense!

I will work on it to see how this can be implemented then! Thanks!

[2019-06-06 13:46] rwwagner90 commented on #306
Sounds good 👍

[2019-06-12 14:26] #306 closed

[2019-06-12 14:27] #298 closed

[2019-06-21 17:51] alexdiliberto opened #311 "[Feature Request] `ignoredFocusElements` DOM element array"
I have a component `<Foo/>` which displays `<EmberFlatpickr/>` from its component template.

[code]

Within my `<Foo/>` component I want the ability to ignore Flatpickrs default/automatic closing behavior when only when clicking on some specific `.ignore-me` button also inside the `<Foo/>` component template

SEE:
https://github.com/flatpickr/flatpickr/issues/1159
https://github.com/flatpickr/flat

[2019-06-21 18:21] rwwagner90 commented on #311
@alexdiliberto thanks for the issue! Would setting it later work? Like `flatpickrRef.set('ignoredFocusElements', [element])`?

[2019-06-21 21:55] alexdiliberto commented on #311
@rwwagner90 Awesome, thanks for the prompt response. That worked actually worked perfect! Didn't realize Flatpickr had the setter which did the `redraw` and config option update. 💯 👍

[2019-06-21 21:55] #311 closed

[2019-06-21 22:04] rwwagner90 commented on #311
Awesome! Perhaps it would be worth documenting here?

[2019-07-31 10:47] #308 closed

[2019-07-31 11:02] teakap opened #317 "Cannot read property length of undefined (Tablet view)"
The flatpickr is failing in tablet view. The stack trace error:

[code]

[2019-07-31 11:15] rwwagner90 commented on #317
@teakap looks like an error in flatpickr, not ember-flatpickr, `parseConfig` is here https://github.com/flatpickr/flatpickr/blob/725408d37244482a6e732c9f8aa83bfde77dd446/src/index.ts#L1931 and I would guess this is the line causing the issue https://github.com/flatpickr/flatpickr/blob/725408d37244482a6e732c9f8aa83bfde77dd446/src/index.ts#L100

[2019-07-31 11:15] #317 closed

[2019-08-04 14:19] teakap commented on #317
Found it! It wasn't from the flatpickr either. It was the [addon for the buttons](https://github.com/jcsmorais/shortcut-buttons-flatpickr).

[2019-08-30 09:16] vigor-vlad opened #322 ""enableTime" option works incorrectly for the "range" mode"
Hi @rwwagner90, first of all thanks for the great library, it works like a charm except one small issue that I've encountered. It looks like when we enable time selectors for the range picker
`{{ember-flatpickr enableTime=true mode='range'}}`
it works incorrectly.

I've prepared a twiddle:
https://ember-twiddle.com/98718ebe477d6ed792312557c158aa9a

When we select the first date (both start and end

[2019-08-30 12:33] rwwagner90 commented on #322
@vigor-vlad seems like perhaps something flatpickr could do better. I didn't even realize you could select times for range mode. The experience is a bit wonky there. I will see if anything jumps out at me as a fix.

[2019-08-30 13:22] rwwagner90 commented on #322
@vigor-vlad I believe your issue is you had not defined an `onChange`. I updated the twiddle to work https://ember-twiddle.com/f17668f4aec3676890ad4eb3e5c465bf

I also updated the docs, which now has a working example https://shipshapecode.github.io/ember-flatpickr/docs/components/ember-flatpickr#range-date-time-picker

Please let me know if this works for you!

[2019-08-30 15:48] vigor-vlad commented on #322
@rwwagner90 thanks for your quick feedback! Well, I've removed the handler on purpose in the example, because the result was the same. In my app the handler is defined, of course 8). The actual fix for the issue is the switch from `2.14.1` to `2.14.3` release, that did the trick!

Once again, thanks for your great work and sorry for bothering you. I should have noticed myself that I was using an o

[2019-08-30 15:48] #322 closed

[2019-08-30 18:04] rwwagner90 commented on #322
@vigor-vlad glad everything is working for you now! I just released those versions this morning, but didn't really change anything. Perhaps it was just from updating deps.

[2019-10-10 13:07] Gorzas opened #352 "Add documentation about how to use plugins"
I'm currently working with ember-flatpickr and using the week select plugin. As I tested, you currently can use plugins with this library but I think it should be documented.

We could use the plugin the following way:

[code]
And having the controller like this:

[code]

What do you think?

[2019-10-23 19:51] roberkules commented on #298
this should also work:

[code]

[2019-11-11 12:10] linearza opened #367 "Ember serve failing to import stylesheet after install"
Hi! I've gone through the issues and see there are similar issues, and tried moving the addon to deps instead of devDep, but on serve build is failing with:

[code]

Im on
[code]

[2019-11-11 12:32] linearza commented on #367
Ok it seems the addon might not be the issue, though you might need to `_super` your sass includes.
Related ember-cli issue:
https://github.com/ember-cli/ember-cli/issues/8026
Fix which provided the fix for me:
https://github.com/ember-cli/ember-resolver/issues/304
https://github.com/lstrzebinczyk/ember-unified-structure-with-modal/pull/1/files

In my `ember-cli-build.js` I just added:
[code]

Clo

[2019-11-11 12:32] #367 closed

[2019-11-11 12:44] rwwagner90 commented on #367
@linearza not sure I understand. We use ember-cli-node-assets to ship the JS and theme CSS file.

[2019-12-27 14:05] roberkules opened #391 "Updating altInputClass (with bootstrap's is-invalid class after validation) doesn't update the class in the DOM"
basically I'm trying to change the input class after the form is submitted (and there's an error):

[code]

but when there's an error, the DOM input element is not updated with the `is-invalid` class

[2019-12-27 14:26] rwwagner90 commented on #391
@roberkules I think it would need to be added to `didReceiveAttrs` https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/mixins/flatpickr.js#L46

Would you be interested in trying your hand at a fix?

[2020-02-27 19:37] adet4ever opened #415 "Actions where null is provided should not die"
In cases where null value is provided to action hooks like onReady, onOpen, onClose, the component initialization just errors out.

for example:
 this.onReady is not a function.

[2020-02-27 21:22] rwwagner90 commented on #415
@adet4ever those are optional params. Can you share some code that is causing the issue please?

[2020-02-27 23:56] adet4ever commented on #415
Hi @rwwagner90

Here is what I am trying to do. To wrap the component with mine. I created a glimmer component  called date-time-picker
[code]
the template like:
[code]
And my usage in another template  as:

[code]
This was causing error since the hooks (onReady, onOpen, onClose) are listed/passed in to the components params. Of course it works if I dont list them in the component.

Also according

[2020-02-28 05:36] rwwagner90 commented on #415
@adet4ever this addon uses a mixin, which is not compatible with glimmer components. We probably need to rethink the implementation.

[2020-02-28 21:11] kmccullough opened #416 "Allow Input With Blur Change"
When the user types a date into the input box, and then blurs to the next field, nothing is committed to the onChange action and the calendar is not updated; only after pressing enter in the field. Is there a way to configure ember-flatpickr to onChange whenever the date in the input box becomes a valid date, or at least specifically on blur?

[2020-02-28 22:08] rwwagner90 commented on #416
@kmccullough this is a thin wrapper around flatpickr, so we pretty much only support what flatpickr supports. I am not sure if it is supported in vanilla flatpickr or not.

[2020-02-28 22:16] kmccullough commented on #416
If you cannot implement a fix for this, could you recommend a method for safely accessing the flatpickr input control, from the component using the ember-flatpickr component, such that this functionality may be added?

[2020-02-28 23:34] rwwagner90 commented on #416
@kmccullough I was saying in my previous comment that I don't know if flatpickr supports this or not. Is there something in the flatpickr docs that you see that makes you think it is supported?

[2020-02-28 23:48] kmccullough commented on #416
I am not familiar with flatpickr in particular. Perhaps onValueUpdate? `triggered when the input value is updated with a new date string`

[2020-02-29 01:25] rwwagner90 commented on #416
You can use `flatpickrRef` which let's you get access to the flatpickr instance.

[2020-03-02 21:52] kmccullough commented on #416
It appears that the `onValueUpdate` hook doesn't do what I initially thought it did, and is only triggered when the calendar updates the input. It seems the enter key functionality is hard coded into flatpickr.

I have accessed the instance through `@getFlatpickrRef={{action onFlatpickrInstance}}` and added the appropriate addEventListener to `flatpickrRef.input` to `flatpickrRef.setDate()` on blu

[2020-03-03 14:57] #416 closed

[2020-03-03 21:12] kmccullough commented on #416
I'm sorry if this reopens the ticket. I just wanted to note an issue I had to deal with, for the benefit of anyone who may find this.

I had an error occurring in regard to `ref.config` being `undefined` when I would `ref.setDate()` on `blur`, after the user clicked a date in the calendar. I solved this first by hooking into `ref.config.onChange.push()` to set a boolean `isChanged` to `true`, and

[2020-03-29 17:05] #391 closed

[2020-04-10 23:06] Samsinite opened #435 "Allow date to be undefined"
Hi, love the addon, thanks for the hard work!

There is one part of the addon that can make it harder to use, the requirement that the date cannot be undefined. For example, something like `@date={{model.someDate}}` requires that the model does not allow `someDate` to ever be `undefined`, which can require extra setup/configuration on the models. While this is easy enough to do for most experience

[2020-04-11 20:28] rwwagner90 commented on #435
@Samsinite I don't think we are likely to support this. It is easy enough to set the value to null explicitly if you meant to have no value.

[2020-04-18 16:24] #435 closed

[2020-04-26 20:42] tracyalison11 opened #442 "API reference that defines all ember-flatpickr options - does this exist?"
I can't find anything in the documentation that defines attributes (e.g. appendDataInput or locale). It would be great to have more information on these (if it doesn't already exist). I would be happy to get something started but want to ensure I'm not missing the references that already exist. Thanks!

[2020-04-26 20:56] rwwagner90 commented on #442
Hi @tracyalison11, https://shipshapecode.github.io/ember-flatpickr/docs/usage shows many of the options, but it may be out of date. All of the flatpickr options should be supported though https://flatpickr.js.org/options/

If you would like to document things in more depth, we would gladly help with a PR 😃

[2020-04-26 21:59] tracyalison11 opened #443 "Is it possible to put static elements inside the ember-flatpickr input?"
The usage documentation states that

Is it possible to just add something static like a left-aligned clock icon? Thank you!

[2020-04-26 22:00] tracyalison11 commented on #442
Thanks so much for pointing me in the right direction - that was very helpful!

[2020-04-26 22:23] tracyalison11 commented on #443
I did find a CSS way to hack it in but am still wondering if this is possible. Thanks!

[2020-04-27 13:30] rwwagner90 commented on #442
@tracyalison11 you're welcome! Do you think we should document things further or is pointing to the flatpickr docs sufficient?

[2020-04-27 13:33] rwwagner90 commented on #443
@tracyalison11 `wrap` is not supported, but we do provide a workaround in the docs https://shipshapecode.github.io/ember-flatpickr/docs/usage#ember-flatpickr-and-external-elements

[2020-04-28 20:10] rwwagner90 commented on #443
Please let me know if that works for you. If not, feel free to reopen this issue!

[2020-04-28 20:10] #443 closed

[2020-06-04 23:04] gzurbach commented on #352
@Gorzas for some reason your solution did not work for me...

I had to add this line to my `ember-cli-build.js` file:
[code]

I'm using Ember 3.4 with `ember-auto-import` installed 🤷‍♂️

[2020-06-05 14:24] rwwagner90 commented on #352
@gzurbach probably because we don't import any plugins in the addon https://github.com/shipshapecode/ember-flatpickr/blob/master/index.js#L16

I haven't tried using plugins myself, so I am not sure how to better support this.

[2020-07-28 21:12] ppegusii opened #493 "Ember serve fails: "Cannot read property 'map' of undefined""
I'm trying to create an addon with ember-flatpickr as one of its dependencies. When I add ember-flatpickr as a dependency in the addon, the project consuming my addon fails on ember serve. However, if I install ember-flatpickr directly in the consuming project and remove it from package.json in the addon, it works fine. Any idea what I'm doing wrong?

Thanks very much for your help!

[2020-07-29 11:18] rwwagner90 commented on #493
Likely you need to call this line in your addon https://github.com/shipshapecode/ember-flatpickr/blob/master/index.js#L53

[2020-07-29 11:51] ppegusii commented on #493
Thanks for your quick reply. Unfortunately, I get the same error. Here's the index.js of my addon:

[code]
I'm using version 2.14.3 of ember-flatpickr and the ember version of my addon and consuming project is 3.4. [Here's](https://github.com/shipshapecode/ember-flatpickr/blob/a28b6ab2246f1aa8d2651cc4425b201591c6983e/index.js#L10) the exact line that's throwing the error.

[2020-07-29 13:24] rwwagner90 commented on #493
Right, the `included` hook of this addon has to run before the one in your addon, since it defines `this.locales`. You can also try adding this to your package.json:

[code]

This should theoretically ensure ember-flatpickr runs first.

[2020-07-29 15:06] ppegusii commented on #493
Darn. No luck with that either. I added `console.log(this.locales);` before [the line throwing the error](https://github.com/shipshapecode/ember-flatpickr/blob/a28b6ab2246f1aa8d2651cc4425b201591c6983e/index.js#L10). It gets hit twice, the first time locales is an empty array and the second time it's undefined. I'll try [debugging ember build](https://cli.emberjs.com/release/advanced-use/debugging/

[2020-07-29 19:29] rwwagner90 commented on #493
@ppegusii do you have `ember-flatpickr` listed as a dependency or devDependency?

[2020-07-29 19:34] ppegusii commented on #493
It's a dependency in my addon and not listed in package.json of the consuming app.

[2020-07-29 19:37] rwwagner90 commented on #493
Is your addon open source?

[2020-07-29 19:38] rwwagner90 commented on #493
Now that I think about it, if it's getting called twice, we could probably fix this for you by simply checking if `this.locales` exists and is an array before we call map on it.

[2020-07-29 19:40] ppegusii commented on #493
Oh nice! I was thinking about doing that, but didn't know the consequences. I'll try that in my code and let you know if it works.

[2020-07-29 19:56] ppegusii commented on #493
I changed [that line](https://github.com/shipshapecode/ember-flatpickr/blob/a28b6ab2246f1aa8d2651cc4425b201591c6983e/index.js#L10) to the following and the consuming project now builds and runs.
[code]

[2020-08-01 11:15] rwwagner90 commented on #493
@ppegusii does this PR fix your issue? https://github.com/shipshapecode/ember-flatpickr/pull/499

[2020-08-01 13:16] ppegusii commented on #493
Sorry, build is failing with the [same error as the travis test](https://travis-ci.com/github/shipshapecode/ember-flatpickr/jobs/367317740#L642). I'm running node v12.16.1. I've never seen that syntax before.

[2020-08-03 14:24] rwwagner90 commented on #493
@ppegusii ah sorry, optional chaining and nullish coalescing seem to not be available until node 14. Let me refactor.

[2020-08-03 14:27] rwwagner90 commented on #493
@ppegusii okay, I refactored. Can you try https://github.com/shipshapecode/ember-flatpickr/pull/499 again please?

[2020-08-04 16:29] ppegusii commented on #493
Yes! Many thanks @rwwagner90. Sorry for the delayed response.

[2020-08-04 17:10] #493 closed

[2020-08-04 20:49] ppegusii commented on #493
@rwwagner90 do you know when this change will be released?

[2020-08-05 12:49] rwwagner90 commented on #493
@ppegusii just released 2.16.3

[2020-08-06 11:53] ppegusii commented on #493
Thank you. You run a tight ship!

[2020-08-13 12:11] #442 closed

[2020-08-13 12:13] rwwagner90 commented on #415
@adet4ever we just released v3.0.0 which is refactored to not use mixins and is now a glimmer component. Please give it a try!

[2020-08-13 12:13] #415 closed

[2020-09-29 17:03] Kilowhisky opened #550 "@enableTime={{false}} causes input to reset when focus is lost"
If you build a time picker with the options to `@enableTime={{false}}` the dropdown resets itself upon losing focus (aka clicking outside it.  When focus is lost, the `onChange` event fires with the original date.

![chrome-capture](https://user-images.githubusercontent.com/7075666/94589988-d92e9700-023a-11eb-88e6-e70bc2b2b7e5.gif)

[2020-09-29 17:17] Kilowhisky commented on #550
May be related to.

https://github.com/flatpickr/flatpickr/issues/2206

[2020-09-29 17:39] Kilowhisky commented on #550
I rolled back to the 2x release of this plugin and all seems well again. I guess this sounds like an issue with the upstream flatpickr plugin.

I'm going to leave this open because the picker is basically broken until this is fixed.
https://github.com/flatpickr/flatpickr/issues/2113

[2020-11-17 14:55] rwwagner90 commented on #550
Interesting. @Kilowhisky I suppose we didn't notice this since the examples in the docs all have time pickers. I wonder if we can add logic to this addon to prevent this bad behavior until flatpickr fixes it?

[2020-11-18 10:25] asmaaEbed95 opened #583 "implementation of the monthselect plugin in ember flatpicker in ember"
i tried to implement the plugin inside my project as i can not implement it in the hbs file and it cannot pass it's parameters to the js file
in the .hbs file the code as follows:
[code]
in the .js file:

[code]

in ember-cli-build.js file:

[code]

[2020-11-19 13:15] rwwagner90 commented on #583
@asmaaEbed95 we may need to add plugins here https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/components/ember-flatpickr.js#L114 I've never used plugins, and I don't really know.

[2020-12-15 15:26] validkeys commented on #443
Just an update, It appears that flatpickr's "on click outside" functionality keeps the above working for me -- clicking an external button does not result in the opening of the calendar. Updated example that works for me:

[code]

Am I missing something?

[2020-12-15 15:43] rwwagner90 commented on #443
@validkeys that is basically the example we have in the docs. What is the question here?

[2020-12-15 16:01] validkeys commented on #443
@rwwagner90 sorry -- I think there was a typo in my original message. Was just pointing out that the example as is doesn't cause the date picker to open. The click event's propagation needs to be stopped -- otherwise the flatpickr assumes the button click was outside of the input and therefore calls the flatpickr's close method.

I've added an example twiddle here for you:

https://ember-twiddle.c

[2020-12-15 21:02] rwwagner90 commented on #443
@validkeys ah you are correct! Would you like to open a PR to update the example?

[2020-12-15 21:04] validkeys commented on #443
@rwwagner90 yeah will do

[2020-12-15 21:22] validkeys commented on #443
@rwwagner90 Ok updated the docs. If I was too verbose, let me know. I'm a talker ;) https://github.com/shipshapecode/ember-flatpickr/pull/602

[2020-12-16 02:31] rwwagner90 commented on #443
Thanks so much @validkeys!

[2021-01-04 17:44] gzurbach opened #615 "@glimmer/component not included in dependencies"
Hi there,

I'm in the process of updating `ember-flatpick` from `2.16.2` to `3.0.1`.

I am getting the following runtime error:

I am currently running Ember 3.12. Is there a minimum version of Ember required to run `3.0.1`?

Thanks a lot for all the good work! 👍

[2021-01-04 19:51] rwwagner90 commented on #615
@gzurbach I think the main issue here is we should add `@glimmer/component` to dependencies instead of devDependencies. I'm unsure what versions it works with, but I would guess Ember 3.x would yield the best results. Are there issues holding you back from updating to Ember 3.x?

[2021-01-05 06:53] gzurbach commented on #615
@rwwagner90 I'm actually using Ember 3.12 and not 2.12, my bad. I edited my comment above. I _think_ `@glimmer/component` was brought in Ember 3.16, which is where I should be heading?

[2021-01-05 14:56] rwwagner90 commented on #615
@gzurbach You can add `@glimmer/component` to your dependencies and it should work fine until we make the change here.

[2021-01-06 16:40] gzurbach commented on #615
@rwwagner90 Thanks for getting back to me. FYI I ended up updating the app to Ember 3.16 and it does come with `@glimmer/component`.

[2021-01-06 17:18] rwwagner90 commented on #615
@gzurbach yeah, it was added to the default blueprints at one point, but someone could easily remove it from their dependencies if they didn't want it, and then this addon would be broken, so we do still need to include it in depdendencies.

[2021-01-06 18:44] LuisAverhoff commented on #615
@gzurbach Ember 3.13 was the first version to introduce glimmer components.

@rwwagner90 Since this project introduced glimmer components, it is probably best to update the ember-try and change this part of the file.

[code]

to

[code]

since that is when glimmer components were first introduced. Likewise, the readme in this project should specify the minimum requirements needed to use this libra

[2021-01-06 19:26] rwwagner90 commented on #615
@LuisAverhoff we are just following the recommended minimum testing versions from Ember try, so we don't get stale. I don't think we want to add tests for 3.13.

[2021-01-06 20:22] LuisAverhoff commented on #615
@rwwagner90 Alright I'll remove all the tests for 3.13 but I propose we still leave in the `readme` that the minimum is `3.13` since anything below that will not work because glimmer components were not included in the default blueprint until `3.13`.

[2021-01-07 02:02] rwwagner90 commented on #615
@LuisAverhoff we had `3.16` before as that's the lowest version we're actively testing. I think we should keep that.

[2021-01-07 17:54] #615 closed

[2021-02-19 12:19] omairvaiyani opened #643 "Updating `clickOpens` arg is ignored"
After this component is rendered, if `@clickOpens` changes from `true` to `false`, the underlying picker is not updated. Is there are workaround that doesn't involve re-rendering our component each time the arguments are updated?

[2021-02-19 14:30] rwwagner90 commented on #643
@omairvaiyani I'm a bit confused on the use case, but we could add something here to update it on update https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/components/ember-flatpickr.hbs#L7

[2021-02-23 09:15] BnitoBzh opened #647 "Theme issue on 3.1.0"
After upgrading from 3.0.1, the selected theme is not imported.
tested with airbnb and material themes ..

[2021-02-23 14:25] #647 closed

[2021-03-24 19:51] rwwagner90 commented on #643
@omairvaiyani could you explain your use case a bit more? We could easily add it if this is needed.

[2021-04-22 20:05] validkeys opened #730 "Update: "Wrap" argument documentation requires updating"
So since my last PR with regards to controlling the visible
status of the pickr by using an external control, something has changed
and simply stopping the propagation of the click event no longer keeps
the pickr library from closing the popup.

Upon further inspection, pickr has a config option "ignoredFocusElements" that,
given an array of DOM elements, will not perform an internal toggling of t

[2021-04-25 15:03] rwwagner90 commented on #730
@validkeys we do not support the `wrap` option, so it not working would be expected https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/components/ember-flatpickr.ts#L99

I don't think we should need all of this to keep the picker open. I know flatpickr constantly changes how they trigger things switching from `click` to `mousedown` to various things in between, so some of those cha

[2021-04-25 15:17] validkeys commented on #730
@rwwagner90 yeah I know it’s not supported, just meant that my previous update to the documentation around stopping the propagation of the events no longer works. So maybe we just want to move it all together since it’s dependent on the inner workings of flatpickr

[2021-04-26 18:46] rwwagner90 commented on #730
It would be good to provide some solutions if we can, I think.

[2021-04-30 09:08] usamahamed opened #739 "@onChange callback called without changing the current date"
Steps to reproduce: when i open the calender and close it again without changing the dates the `onChange` called with the beginning of current month which is not the intended behaviour

browser: chrome

version: Latest

[2021-05-01 23:57] rwwagner90 commented on #739
@usamahamed we just pass this to flatpickr, so flatpickr must be calling the change then.

[2021-05-03 06:24] usamahamed commented on #739
@rwwagner90 It is very serious issue because of the following:

- we did some network actions when the date is changed and based on this we display some statistics number
- i expect when I open and close the calendar without changing the date, the date remains the same and in this case, it will not be a problem because I can just skip it with a simple condition but the case is, it reset the curren

[2021-05-05 16:52] rwwagner90 commented on #739
@usamahamed we're just passing `onChange` to flatpickr https://github.com/shipshapecode/ember-flatpickr/blob/master/addon/components/ember-flatpickr.ts#L125

This is not a bug here.

What does your `onChange` look like? I expect you may have the wrong signature. https://flatpickr.js.org/events/#events

[2021-09-17 17:50] #739 closed

[2021-09-17 17:51] #643 closed

[2021-09-26 16:12] kmichek opened #914 "Installation failed in Ember 3.28"
Hi, great plugin, using it for years, but with the last Ember version the installation fails (while other plugins install correctly):

ember-cli: 3.28.0
node: 12.16.3
os: darwin x64

npm ERR! code 1
npm ERR! git dep preparation failed
npm ERR! command /usr/local/bin/node /usr/local/lib/node_modules/npm/bin/npm-cli.js install --force --cache=/Users/TowerArc/.npm --prefer-offline=false --prefer-onli

[2021-09-27 12:20] rwwagner90 commented on #914
@kmichek I do not see anything in there that looks like an error with ember-flatpickr. I see a lot of old lockfile warnings. Our test suite is passing up to ember canary, so it should be working.

[2021-09-27 13:38] kmichek commented on #914
Hi, thank you for your answer. The same is happening after deleting the package-lock.json. There is a bit more info in the log, a part of it says:

3620 timing idealTree:node_modules/ember-flatpickr/node_modules/universalify Completed in 0ms
3621 timing idealTree:node_modules/ember-flatpickr/node_modules/walk-sync Completed in 0ms
3622 timing idealTree:buildDeps Completed in 84544ms
3623 timing id

[2021-09-27 13:38] #914 closed

[2021-09-27 16:49] rwwagner90 commented on #914
@kmichek I still don't see a specific error here. If you get more info, I am happy to debug!

[2021-09-28 09:57] kmichek commented on #914
Sorted. Was caused by wrong Ember version. I have uninstalled Ember and installed the latest version, then this plugin works perfect. My fault, sorry.

[2021-09-29 19:50] carlosgalveias opened #920 "git dep preparation error - getaddrinfo ENOTFOUND artifacts.apple.com"
Hi , so we use your module as a dependency and when we updated npm version, it started failing with error:

git dep preparation failed:
...
request to https://artifacts.apple.com/api/npm/npm-private/yeast/-/yeast-0.1.2.tgz failed, reason: getaddrinfo ENOTFOUND artifacts.apple.com

The issue comes from the dependency that is pointing to a very specific git commit:

"@ember/render-modifiers": "ciber

[2021-09-29 21:47] rwwagner90 commented on #920
Yes, render-modifiers does not work with Ember 4. It is pointing to this fork on purpose and will not be changed until render-modifiers merges the PR.

[2021-09-29 23:30] happydude commented on #920
I'm having this problem too. One thing I discovered is with npm@6.14.15 it installs fine but with npm7 :

[code]

[2021-09-30 12:56] carlosgalveias commented on #920
@rwwagner90 please make a pull of that intended commit on render-modifiers, look at the package-lock.json that it brings, try to do a npm install with npm >7.
As it will try do adjust the package-lock (git dep preparation stage) to a new version , it will fail to do so because the package lock repository information is a internal apple address.

[2021-10-07 20:10] #920 closed

[2021-11-22 20:53] st-h opened #975 "setFlatpickrDate leads to onChange being called with empty array"
I am using the helper in my tests like this:
[code]
 I can then observe that the callback provided as onChange gets called, however the argument contains an empty array. I would expect it to contain the date provided by `setFlatpickrDate`. Is there anything wrong with my expectation?

[2021-11-23 17:38] rwwagner90 commented on #975
@st-h hmm, that seems correct. If flatpickr's `onChange` is called, I would expect this to be working. Do you perhaps have some time to debug?

[2021-11-26 20:26] st-h commented on #975
Sorry about the noise. Today I was revisiting this issue and I can no longer reproduce it 🤷‍♀️

[2021-11-26 20:26] #975 closed

[2022-06-27 06:47] AhamedFrontEndDeveloper opened #1212 "Flatpickr module is getting included in vendor file even though we are doing auto import"
Flatpickr module is getting included in vendor file even though we are doing auto import. It should be ignored when we do an auto import of flatpickr.

[2022-06-27 06:54] AhamedFrontEndDeveloper commented on #1212
This PR will help to exclude the flatpickr module in vendor file if client is using auto import functionality.  In the current behaviour, flatpickr module is included in vendor file even though if auto import is implemented.

@rwwagner90 Can you please check this PR if it helps.

[2022-06-27 08:44] kienhawlee opened #1214 "locale="ms" is not taking any effect"
I'm currently working with ember-flatpickr and setting up a different locale based on language selection. As I tested, the `ms` locale doesn't seem to be working as expected.

For `zh`, it was translated perfectly fine:
<img width="245" alt="Screenshot 2022-06-27 at 4 39 36 PM" src="https://user-images.githubusercontent.com/76933975/175897622-8c3d8c67-2a00-406d-ac0d-242c31afc4a3.png">

However, fo

[2022-06-27 11:34] AhamedFrontEndDeveloper commented on #1214
This should be the issue with "flatpickr" itself. I have raised this issue with flatpickr and raised a PR as well.
https://github.com/flatpickr/flatpickr/issues/2737 @kienhawlee

[2022-06-27 13:13] rwwagner90 commented on #1214
Closing this, since it is an issue upstream.

[2022-06-27 13:13] #1214 closed

[2022-06-27 20:35] AhamedFrontEndDeveloper commented on #1212
I am using this addon in my Ember app to work correctly in ember way. By default if i do an ember build, vendor file is coming around 1.23mb which includes 'flatpickr' module as well in the vendor file. After doing this changes as prescribed in the PR, the vendor file size is coming around 1.18mb which saves around ~50kb in vendor file.

In my app, whenever we need flatpickr component we can impor

[2022-06-28 13:25] rwwagner90 commented on #1212
@AhamedFrontEndDeveloper so you are doing this just to make the initial load smaller? We could do a dynamic import in this addon instead, if that is the goal.

[2022-06-28 14:30] AhamedFrontEndDeveloper commented on #1212
Yes, we are trying to make the initial load smaller. Thought with this approach user can choose the option whether to dynamic import or not based on their needs.
This approach is already used in https://github.com/ahmadsoe/ember-highcharts addon as well

Since we dont have route in this addon. If we want to support dynamic import in this addon then we need to add one more wrapper to import flatpic

[2022-07-07 14:27] AhamedFrontEndDeveloper commented on #1212
Would like to know about your thoughts on the above. @rwwagner90

[2022-07-08 18:13] rwwagner90 commented on #1212
@AhamedFrontEndDeveloper we should be able to add a dynamic import right to the component.

[2022-07-08 19:50] AhamedFrontEndDeveloper commented on #1212
If we add it directly in the component, we need to handle the loading state till this import (async request) is completed. If user want to render the component immediately it wont show immediately during the first load. User have to wait for sometime to load this component.  This will impact the user experience right? Please let me know your thoughts. @rwwagner90

[2022-07-10 15:08] rwwagner90 commented on #1212
@AhamedFrontEndDeveloper no, it will load when the component loads, not when the component is interacted with.

[2022-07-10 17:24] AhamedFrontEndDeveloper commented on #1212
Introducing auto import in the component during init hook:

ember-flatpickr/addon/components/ember-flatpickr.ts:

[code]

It will throw error saying flatpickr is undefined in the below line. Flatpickr module is not yet loaded for importing.
Flatpickr module will only be available after component init hook.

[code]

Please let me know if you have any other thoughts apart from auto import during ini

[2022-07-10 17:26] AhamedFrontEndDeveloper commented on #1212
And if we suppose fix the above using some wrapper or other, There is one other scenario where user loads the component based on some condition.

The component will be loaded only after that condition is met.

In the below example, Datepicker component will be loaded only if user do some action on the page. By clicking some button inside another component 'myOtherComponent' Date picker will be loa

[2022-07-11 01:19] rwwagner90 commented on #1212
@AhamedFrontEndDeveloper I would put the import right before `this.flatpickrRef =`. You can wrap that in the dynamic import and then set the `flatpickrRef`.

[2022-07-12 10:51] AhamedFrontEndDeveloper commented on #1212
Have updated the sample PR to work.  [https://github.com/shipshapecode/ember-flatpickr/pull/1233/files](https://github.com/shipshapecode/ember-flatpickr/pull/1233/files)
I faced a problem with locales support. Since flatpickr module is not loaded in vendor file, locales modules are not working properly. So I have  to dynamically import the locale again to make it work.

I am facing one user experi

[2022-07-12 12:17] rwwagner90 commented on #1212
@AhamedFrontEndDeveloper I really don't think this library is large enough to need to dynamic import, but if we are going to make the switch, I would do it across the board.

[2022-07-21 13:07] AhamedFrontEndDeveloper commented on #1212
Ok @rwwagner90 Thanks. For now, I have forked this repo and using it.

[2022-07-28 21:57] hoang-travefy opened #1261 "Keyboard navigation with date picker"
Is there a way to use keyboard to navigate the date picker? I'm unable to use enter, esc, arrow keys, etc.

[2022-07-31 02:22] rwwagner90 commented on #1261
@hoang-travefy do you have `allowInput={{true}}`? I suspect this causes focus issues.

[2022-10-23 13:11] #1261 closed